<script type="text/template" id="about">

    <div id="wrapper" class="appsize">

        <div class="allcont logsize">

            <% include header_help %>

            <div class="basicrow m-top">
                <div class="container">
                    <div class="basicr-line-i">
                        <div class="fulltitle m-top-i f-btitle">
                            <span><img src="images/ico_terminosCondiciones.png" style="height: 50px; width: 50px; margin: 10px"></span>
                            &nbsp;Acerca de
                        </div>
                    </div>
                </div>
            </div>

            <div class="basicrow f-reg text-justify f-black diffr m-top-i">

                <div class="container">

                    Mi Claro es una aplicaci&oacute;n segura y f&aacute;cil de usar para el manejo de sus cuentas de servicio con Claro.<br/><br/>

                    Mi Claro le permite ver:<br/><br/>

                    <ul>
                        <li>Detalles de cuenta.</li>
                        <li>Equipos asociados con la cuenta (servicio m&oacute;vil).</li>
                        <li>Los servicios que actualmente posee.</li>
                        <li>Actualice su nombre de usuario, email, direcci&oacute;n postal desde Mi Perfil.</li>
                        <li>Consumo de minutos, datos, llamadas y roaming entre otros.</li>
                        <li>Facturas.</li>
                        <li>Compra de paquetes de datos.</li>
                        <li>Realizar pagos.</li>
                        <li>Localizador de nuestros Puntos de Venta Servicio.</li>
                        <li>Widget.</li>
                        <li>Cambio de Plan.</li>
                        <li>Opci&oacute;n para regalar 1GB de datos a familiares y amigos clientes de Claro.</li>
                        <li>Manejo Mi Cuenta.</li>
                        <li>Reporta cualquier interrupci&oacute;n con tu l&iacute;nea telef&oacute;nica de voz e internet.</li>
                        <li>Suscr&iacute;bete a factura electr&oacute;nica y olvida el papel.</li>
                        <li>Regala una recarga a tus amigos con prepagos.</li>
                        <li>Compra servicios de seguro, asistencia en la carretera u otros.</li>
                        <li>Mejoras a las notificaciones.</li>
                    </ul>
                </div>
            </div>

            <div class="basicrow m-top-i graybg">
                <div class="container">
                    <div class="basicrow m-bott">

                        <div class="basicrow m-top-i">
                            <div class="row refdef">
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                    <div class="basicrow text-center">
                                        <img width="100%" class="ref-icons" src="images/netflixicon3.png">
                                    </div>

                                    <div class="basicrow f-black roboto-r f-reg text-center m-top">
                                        <div class="basicrow f-bmed roboto-b">
                                            Versi&oacute;n <%= version %>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="basicrow">
                <div class="container">
                    <div class="basicrow m-top m-bott">

                        <div class="basicrow m-top-i">
                            <div class="row refdef">
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                    <div class="basicrow text-center">
                                        <img width="100%" class="ref-icons" src="images/ref-gmail-icon.png">
                                    </div>

                                    <div class="basicrow f-black roboto-r f-reg text-center m-top">
                                        <div class="basicrow f-bmed roboto-b">
                                            <a href="mailto:soporteapps@speedymovil.com" class="cdef">soporteapps@speedymovil.com&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>

</script>