<script type="text/template" id="calls_details">

	<div id="wrapper" class="appsize">

		<div class="allcont logsize">

			<% include header %>

			<% include navmenu %>

			<% include tabs %>

			<div class="basicrow m-top">
				<div class="container">
					<div class="basicr-line-i">
						<div class="fulltitle m-top-i f-btitle autodef">
							<span class="icon-dash-18"></span> Detalle de Llamadas
						</div>

						<div class="nroacc">
							<label class="label-r sidenmbr vcenter">
								<span class="tabcell">
									N&uacute;mero de Cuenta
								</span>
							</label>

							<select class="sel-f sidesel" id="select-account">
								<% _.each(accounts, function(value, index) { %>
								<option value="<%= value.Account %>"  <%= value.Account==selectedAccount.Account?'selected="selected"':'' %> ><%= value.Account %></option>
								<% }); %>
							</select>
						</div>
					</div>
				</div>
			</div>

			<div class="basicrow mbott n-mtop">
				<div class="container">
					<div class="basicrow">
						<div class="def-filtrs">
							<select class="sel-f-i def-i">
								<option>Nro de Suscriptor</option>
							</select>

							<div class="autorow pull-left m-right f-reg m-top-u-iii">
								<i class="fa fa-calendar filtr-calendar" aria-hidden="true"></i>

								<span class="f-gray-ii roboto-b">Enero 01, 2018 - Enero 23 2018</span>
							</div>

							<div class="btns def-i red pull-right vcenter m-left-i h-mtop rippleR">
								<span class="tabcell">
									Buscar&nbsp;&nbsp;<i class="fa fa-search" aria-hidden="true"></i>
								</span>
							</div>

							<div class="btns def-i blue pull-right vcenter h-mtop-ii rippleB">
								<span class="tabcell">
									<i class="fa fa-print" aria-hidden="true"></i>&nbsp;&nbsp;Imprimir
								</span>
							</div>
						</div>
					</div>

					<div class="basicrow">
						<div class="basicrow m-top-i">
							<div class="autorow pull-left f-tabletitle f-black roboto-r m-right">
								Llamadas
							</div>

							<div class="autorow leftchange">
								<a href="#" class="tablepages off vcenter">
										<span class="tabcell">
											&lt;&lt;
										</span>
								</a>

								<a href="#" class="tablepages off vcenter">
										<span class="tabcell">
											&lt;
										</span>
								</a>

								<a href="#" class="tablepages on vcenter">
										<span class="tabcell">
											1
										</span>
								</a>

								<a href="#" class="tablepages vcenter">
										<span class="tabcell">
											2
										</span>
								</a>

								<a href="#" class="tablepages vcenter">
										<span class="tabcell">
											3
										</span>
								</a>

								<a href="#" class="tablepages vcenter">
										<span class="tabcell">
											&gt;
										</span>
								</a>

								<a href="#" class="tablepages vcenter">
									<span class="tabcell">
										&gt;&gt;
									</span>
								</a>
							</div>
						</div>

						<!-- [INIT TABLA MOVIL] -->
						<div class="basicrow m-top visible-xs">
							<div class="basicrow mbott-i">
								<div id="myCarousel5" class="carousel slide" data-interval="false" data-ride="carousel">
									<!-- Indicators -->
									<ol class="carousel-indicators">
										<li data-target="#myCarousel5" data-slide-to="0" class="active"></li>
										<li data-target="#myCarousel5" data-slide-to="1"></li>
										<li data-target="#myCarousel5" data-slide-to="2"></li>
									</ol>

									<!-- Wrapper for slides -->
									<div class="carousel-inner">
										<div class="item active">
											<div class="boxtbl">
												<div class="tab-tbar">
													<div class="frwds rline vcenter">
														<div class="tabcell">
															Fecha
														</div>
													</div>

													<div class="frwds vcenter">
														<div class="tabcell">
															Hora
														</div>
													</div>
												</div>

												<div class="basicrow">
													<div class="tab-cbar">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																5/25
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																08:16
															</div>
														</div>
													</div>

													<div class="tab-cbar bg-gray">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																5/25
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																08:16
															</div>
														</div>
													</div>

													<div class="tab-cbar">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																5/25
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																08:16
															</div>
														</div>
													</div>

													<div class="tab-cbar bg-gray">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																5/25
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																08:16
															</div>
														</div>
													</div>

													<div class="tab-cbar">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																5/25
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																08:16
															</div>
														</div>
													</div>

													<div class="tab-cbar bg-gray">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																5/25
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																08:16
															</div>
														</div>
													</div>

													<div class="tab-cbar">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																5/25
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																08:16
															</div>
														</div>
													</div>

													<div class="tab-cbar bg-gray">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																5/25
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																08:16
															</div>
														</div>
													</div>

													<div class="tab-cbar">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																5/25
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																08:16
															</div>
														</div>
													</div>

													<div class="tab-cbar bg-gray">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																5/25
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																08:16
															</div>
														</div>
													</div>

													<div class="tab-cbar">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																5/25
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																08:16
															</div>
														</div>
													</div>

													<div class="tab-cbar bg-gray">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																5/25
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																08:16
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="item">
											<div class="boxtbl">
												<div class="tab-tbar">
													<div class="frwds rline vcenter">
														<div class="tabcell">
															N&uacute;mero Llamado
														</div>
													</div>

													<div class="frwds vcenter">
														<div class="tabcell">
															Ciudad
														</div>
													</div>
												</div>

												<div class="basicrow">
													<div class="tab-cbar">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																<img src="images/call-icon.png" width="100%" class="call-icon"> 787 000-0000
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																RIOPIEDRAS
															</div>
														</div>
													</div>

													<div class="tab-cbar bg-gray">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																<img src="images/call-icon.png" width="100%" class="call-icon"> 787 000-0000
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																RIOPIEDRAS
															</div>
														</div>
													</div>

													<div class="tab-cbar">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																<img src="images/call-icon.png" width="100%" class="call-icon"> 787 000-0000
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																RIOPIEDRAS
															</div>
														</div>
													</div>

													<div class="tab-cbar bg-gray">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																<img src="images/call-icon.png" width="100%" class="call-icon"> 787 000-0000
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																RIOPIEDRAS
															</div>
														</div>
													</div>

													<div class="tab-cbar">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																<img src="images/call-icon.png" width="100%" class="call-icon"> 787 000-0000
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																RIOPIEDRAS
															</div>
														</div>
													</div>

													<div class="tab-cbar bg-gray">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																<img src="images/call-icon.png" width="100%" class="call-icon"> 787 000-0000
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																RIOPIEDRAS
															</div>
														</div>
													</div>

													<div class="tab-cbar">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																<img src="images/call-icon.png" width="100%" class="call-icon"> 787 000-0000
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																RIOPIEDRAS
															</div>
														</div>
													</div>

													<div class="tab-cbar bg-gray">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																<img src="images/call-icon.png" width="100%" class="call-icon"> 787 000-0000
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																RIOPIEDRAS
															</div>
														</div>
													</div>

													<div class="tab-cbar">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																<img src="images/call-icon.png" width="100%" class="call-icon"> 787 000-0000
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																RIOPIEDRAS
															</div>
														</div>
													</div>

													<div class="tab-cbar bg-gray">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																<img src="images/call-icon.png" width="100%" class="call-icon"> 787 000-0000
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																RIOPIEDRAS
															</div>
														</div>
													</div>

													<div class="tab-cbar">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																<img src="images/call-icon.png" width="100%" class="call-icon"> 787 000-0000
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																RIOPIEDRAS
															</div>
														</div>
													</div>

													<div class="tab-cbar bg-gray">
														<div class="frwds rline vcenter">
															<div class="tabcell">
																<img src="images/call-icon.png" width="100%" class="call-icon"> 787 000-0000
															</div>
														</div>

														<div class="frwds vcenter">
															<div class="tabcell">
																RIOPIEDRAS
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="item">
											<div class="boxtbl">
												<div class="tab-tbar">
													<div class="frwds calls-vi rline vcenter">
														<div class="tabcell">
															Minutos
														</div>
													</div>

													<div class="frwds calls-vi rline vcenter">
														<div class="tabcell">
															TL
														</div>
													</div>

													<div class="frwds calls-vi vcenter">
														<div class="tabcell">
															Cargos
														</div>
													</div>
												</div>

												<div class="basicrow">
													<div class="tab-cbar">
														<div class="frwds calls-vi rline vcenter">
															<div class="tabcell">
																1:00
															</div>
														</div>

														<div class="frwds calls-vi rline vcenter">
															<div class="tabcell">
																P
															</div>
														</div>

														<div class="frwds calls-vi vcenter">
															<div class="tabcell">
																&#36;0.00
															</div>
														</div>
													</div>

													<div class="tab-cbar bg-gray">
														<div class="frwds calls-vi rline vcenter">
															<div class="tabcell">
																1:00
															</div>
														</div>

														<div class="frwds calls-vi rline vcenter">
															<div class="tabcell">
																P
															</div>
														</div>

														<div class="frwds calls-vi vcenter">
															<div class="tabcell">
																&#36;0.00
															</div>
														</div>
													</div>

													<div class="tab-cbar">
														<div class="frwds calls-vi rline vcenter">
															<div class="tabcell">
																1:00
															</div>
														</div>

														<div class="frwds calls-vi rline vcenter">
															<div class="tabcell">
																P
															</div>
														</div>

														<div class="frwds calls-vi vcenter">
															<div class="tabcell">
																&#36;0.00
															</div>
														</div>
													</div>

													<div class="tab-cbar bg-gray">
														<div class="frwds calls-vi rline vcenter">
															<div class="tabcell">
																1:00
															</div>
														</div>

														<div class="frwds calls-vi rline vcenter">
															<div class="tabcell">
																P
															</div>
														</div>

														<div class="frwds calls-vi vcenter">
															<div class="tabcell">
																&#36;0.00
															</div>
														</div>
													</div>

													<div class="tab-cbar">
														<div class="frwds calls-vi rline vcenter">
															<div class="tabcell">
																1:00
															</div>
														</div>

														<div class="frwds calls-vi rline vcenter">
															<div class="tabcell">
																P
															</div>
														</div>

														<div class="frwds calls-vi vcenter">
															<div class="tabcell">
																&#36;0.00
															</div>
														</div>
													</div>

													<div class="tab-cbar bg-gray">
														<div class="frwds calls-vi rline vcenter">
															<div class="tabcell">
																1:00
															</div>
														</div>

														<div class="frwds calls-vi rline vcenter">
															<div class="tabcell">
																P
															</div>
														</div>

														<div class="frwds calls-vi vcenter">
															<div class="tabcell">
																&#36;0.00
															</div>
														</div>
													</div>

													<div class="tab-cbar">
														<div class="frwds calls-vi rline vcenter">
															<div class="tabcell">
																1:00
															</div>
														</div>

														<div class="frwds calls-vi rline vcenter">
															<div class="tabcell">
																P
															</div>
														</div>

														<div class="frwds calls-vi vcenter">
															<div class="tabcell">
																&#36;0.00
															</div>
														</div>
													</div>

													<div class="tab-cbar bg-gray">
														<div class="frwds calls-vi rline vcenter">
															<div class="tabcell">
																1:00
															</div>
														</div>

														<div class="frwds calls-vi rline vcenter">
															<div class="tabcell">
																P
															</div>
														</div>

														<div class="frwds calls-vi vcenter">
															<div class="tabcell">
																&#36;0.00
															</div>
														</div>
													</div>

													<div class="tab-cbar">
														<div class="frwds calls-vi rline vcenter">
															<div class="tabcell">
																1:00
															</div>
														</div>

														<div class="frwds calls-vi rline vcenter">
															<div class="tabcell">
																P
															</div>
														</div>

														<div class="frwds calls-vi vcenter">
															<div class="tabcell">
																&#36;0.00
															</div>
														</div>
													</div>

													<div class="tab-cbar bg-gray">
														<div class="frwds calls-vi rline vcenter">
															<div class="tabcell">
																1:00
															</div>
														</div>

														<div class="frwds calls-vi rline vcenter">
															<div class="tabcell">
																P
															</div>
														</div>

														<div class="frwds calls-vi vcenter">
															<div class="tabcell">
																&#36;0.00
															</div>
														</div>
													</div>

													<div class="tab-cbar">
														<div class="frwds calls-vi rline vcenter">
															<div class="tabcell">
																1:00
															</div>
														</div>

														<div class="frwds calls-vi rline vcenter">
															<div class="tabcell">
																P
															</div>
														</div>

														<div class="frwds calls-vi vcenter">
															<div class="tabcell">
																&#36;0.00
															</div>
														</div>
													</div>

													<div class="tab-cbar bg-gray">
														<div class="frwds calls-vi rline vcenter">
															<div class="tabcell">
																1:00
															</div>
														</div>

														<div class="frwds calls-vi rline vcenter">
															<div class="tabcell">
																P
															</div>
														</div>

														<div class="frwds calls-vi vcenter">
															<div class="tabcell">
																&#36;0.00
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- [END TABLA MOVIL] -->

						<div class="basicrow text-center roboto-b m-top">
							P = Hora pico&nbsp;&nbsp;&nbsp;&nbsp;NP = Hora no pico
						</div>
					</div>
				</div>
			</div>

		</div>

		<% include footer %>

	</div>
        
</script>