<script type="text/template" id="chat">

    <div id="wrapper" class="appsize">

        <div class="allcont logsize">

            <% include header_help %>

            <div class="basicrow m-top">
                <div class="container">
                    <div class="basicr-line-i">
                        <div class="fulltitle m-top-i f-btitle">
                            <span><img src="images/chatnow-icon.png" style="height: 50px; width: 50px; margin: 10px"></span>
                            &nbsp;Soporte en Linea
                        </div>
                    </div>
                </div>
            </div>

            <div class="basicrow mbott-i">
                <div class="container">
                    <div class="basicrow m-top-i mbott">
                        <div class="basicrow f-med f-black">
                            <b>Bienvenido a nuestro Chat en Linea</b>
                        </div>

                        <div class="basicrow f-med roboto-l f-black m-top">
                            Por favor complete la siguiente información para servirle mejor.
                        </div>

                        <div class="basicrow">
                            <div class="basicrow m-top-i">
                                <label><input value="2" type="radio" name="radio">&nbsp;&nbsp;Servicio al Cliente Móvil</label>
                            </div>

                            <div class="basicrow m-top-u">
                                <label><input value="3" type="radio" name="radio">&nbsp;&nbsp;Servicio al Cliente Fijo</label>
                            </div>

                            <div class="basicrow m-top-u">
                                <label><input value="11" type="radio" name="radio">&nbsp;&nbsp;Asistencia Mi Claro</label>
                            </div>

                            <div class="basicrow m-top-u">
                                <label><input value="5" type="radio" name="radio">&nbsp;&nbsp;Servicio al viajero - Roaming</label>
                            </div>

                            <div class="basicrow m-top-u">
                                <label><input value="15" type="radio" name="radio">&nbsp;&nbsp;Claro Empresas PR</label>
                            </div>
                        </div>

                        <div class="basicrow m-top-i">
                            <label class="label-f">
                                <b>&#42; Nombre y Apellido</b>
                            </label>

                            <input id="name" type="text" class="inp-f <%= isLogged %>" value="<%= name %>">
                        </div>

                        <div class="basicrow m-top">
                            <label class="label-f">
                                <b>&#42; Email</b>
                            </label>

                            <input id="email" type="email" class="inp-f"  value="<%= email %>">
                        </div>

                        <div class="basicrow m-top">
                            <label class="label-f">
                                <b>Pregunta</b>
                            </label>

                            <textarea id="question" name="question" class="t-areadef" placeholder="(Opcional)" maxlength="500"></textarea>
                        </div>

                        <div class="basicrow m-top-i">
                            <div class="logline full"></div>
                        </div>

                        <div class="basicrow m-top-i text-center">
                            <div class="btns def-iv red centr vcenter rippleR" id="continue">
                                <span class="tabcell">
                                    Continuar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

		</div>

	</div>

</script>