<script type="text/template" id="data_roaming">
		<!-- [INIT TOP CONTAINER] -->
		<div id="topcont">
			<div class="menucont gr-red vcenter">
				
				<div id="menu-icon-left">
					<img src="images/icon-back.png" width="100%;" alt="">
				</div>
				
				<div class="tabcell">
					<div class="menu-tittle text-center f-white din-b">
						Data Roaming
					</div>
				</div>

				<div id="menu-icon-right" class="btn-menu">
					<img src="images/icon-menu.png" width="100%;" alt="">
				</div>

			</div>
		</div>
		<!-- [END TOP CONTAINER] -->
		
		<!-- [INIT WRAP] -->
		<div id="bodycont">
			
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
						<div class="basicrow">

							<div class="tabcont-b border-b">
								<div class="form-row-a">
									<div class="tab-inplabel f-graydark din-b">
										N&Uacute;MERO DE CUENTA
									</div>

									<div class="tab-inputcont radius-a">
										<select type="text" name="" value="" placeholder="" class="text-center">
											<option></option>
										</select>
									</div>
								</div>
							</div>

							<div class="tabcont-b border-b">
								<div class="form-row-a">
									<div class="tab-inplabel f-graydark din-b">
										N&Uacute;MERO DE TEL&Eacute;FONO
									</div>

									<div class="tab-inputcont radius-a">
										<input type="text" name="" value="" placeholder="" class="text-center">

										<div class="inp-arrow">
											<img src="images/arrow-r.png" width="100%;" alt="">
										</div>
									</div>
								</div>
							</div>

							<div class="tabcont-c border-b f-graydark-i din-b text-center">
								SELECCI&Oacute;N DEL PA&Iacute;S
							</div>

							<div class="tabcont-b f-mini">
								Escoja el pa&iacute;s de su inter&eacute;s, de a lista provista, para mostrarle los servicios y precios disponibles en el pa&iacute;s de su selecci&oacute;n.
							</div>

							<div class="tabcont-b border-b">
								<div class="form-row-a">
									<div class="tab-inputcont radius-a">
										<input type="text" name="" value="" placeholder="" class="text-center">

										<div class="inp-arrow">
											<img src="images/arrow-r.png" width="100%;" alt="">
										</div>
									</div>
								</div>
							</div>

							<div class="tabcont-f-b border-b">
								<div class="data-col-a vcenter">
									<span class="tabcell">
										<input type="checkbox" name="" value="">
									</span>
								</div>

								<div class="data-col-b vcenter">
									<span class="tabcell">
										<span class="basicrow f-bold">3G</span></br>
										<span class="basicrow">Paquete de datos de 3 GB</span>
									</span>
								</div>

								<div class="data-col-a pull-right vcenter">
									<span class="tabcell">
										$0.0195
									</span>
								</div>
							</div>

							<div class="tab-btn-b">
								<a href="" class="btn-def btn-red text-center radius-a vcenter">
									<div class="icon-btn">
										<img src="images/arrow-btn.png" width="100%" alt="">
									</div>

									<div class="basicrow tabcell text-center f-white">
										Comprar
									</div>
								</a>
							</div>

							<div class="tab-btn-b">
								<a href="" class="btn-def btn-gray text-center radius-a vcenter">
									<div class="icon-btn">
										<img src="images/ex-btn.png" width="100%" alt="">
									</div>

									<div class="basicrow tabcell text-center f-gray">
										Cancelar
									</div>
								</a>
							</div>

						</div>
					</div>
				</div>
			</div>			
			
		</div>
		<!-- [END WRAP] -->

		<%include footer%>

</script>