<script type="text/template" id="gift_sent">

	<div id="wrapper" class="appsize">

		<div class="allcont logsize">

			<% include header %>

			<div class="basicrow m-top">
				<div class="container">
					<div class="basicr-line-i">
						<div class="fulltitle m-top-i f-btitle autodef">
							<span class="icon-dash-05"></span> Confirmaci&oacute;n
						</div>
					</div>
				</div>
			</div>

			<div class="basicrow mbott m-top-i">
				<div class="container">
					<div class="basicrow mbott-i">
						<div class="basicrow text-center">
							<div class="rdtitles">
								<%= description %>
							</div>
						</div>
					</div>

					<div class="basicrow text-center m-top">
						<div id="close" class="btns def-i gray centr vcenter">
							<span class="tabcell">
								Cerrar
							</span>
						</div>
					</div>

				</div>
			</div>

		</div>

		<% include footer %>

	</div>

</script>
