<script type="text/template" id="help_section">

    <div id="wrapper" class="appsize">

        <div class="allcont logsize">

            <% include header_help %>

            <div class="basicrow m-top">
                <div class="container">
                    <div class="basicr-line-i">
                        <div class="fulltitle m-top-i f-btitle autodef">
                            <span><img src="images/help-icon.png" style="height: 50px; width: 50px; margin: 10px"></span>
                            &nbsp;Ayuda
                        </div>
                    </div>
                </div>
            </div>

            <div class="basicrow">
                <div class="container">
                    <div class="basicrow f-black roboto-r f-reg m-top-i m-bott">
                        <div class="basicrow f-mildt roboto-m">
                            Sección de Ayuda
                        </div>

                        <div class="basicrow m-top" id="btn-faq">
                            <div class="preg-f">
                                Preguntas Frecuentes

                                <img class="sectarrow" width="100%" src="images/arrow-iii.png">
                            </div>
                        </div>

                        <div class="basicrow m-top" id="btn-support-chat">
                            <div class="preg-f">
                                Soporte en L&iacute;nea por Chat

                                <img class="sectarrow" width="100%" src="images/arrow-iii.png">
                            </div>
                        </div>

                        <div class="basicrow m-top" id="btn-contact-us">
                            <div class="preg-f">
                                Cont&aacute;ctanos

                                <img class="sectarrow" width="100%" src="images/arrow-iii.png">
                            </div>
                        </div>

                        <div class="basicrow m-top" id="btn-failure-report">
                            <div class="preg-f">
                                Reportar Fallas<br/>
                                <span class="f-small f-gray">Informar sobre un problema.</span>

                                <img class="sectarrow" width="100%" src="images/arrow-iii.png">
                            </div>
                        </div>

                        <div class="basicrow m-top" id="btn-improvement">
                            <div class="preg-f">
                                Sugerencias<br/>
                                <span class="f-small f-gray">Tu opini&oacute;n es valiosa para nosotros.</span>

                                <img class="sectarrow" width="100%" src="images/arrow-iii.png">
                            </div>
                        </div>

                        <div class="basicrow m-top" id="btn-about">
                            <div class="preg-f">
                                Acerca de

                                <img class="sectarrow" width="100%" src="images/arrow-iii.png">
                            </div>
                        </div>

                        <div class="basicrow m-top" id="btn-locations">
                            <div class="preg-f">
                                Localidades

                                <img class="sectarrow" width="100%" src="images/arrow-iii.png">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

</script>