<script type="text/template" id="invoice_details">

	<div id="wrapper" class="appsize">

		<div class="allcont logsize">

			<% include header %>

			<% include navmenu %>

			<% include tabs %>

			<div class="basicrow m-top">
				<div class="container">
					<div class="basicr-line-i">
						<div class="fulltitle m-top-i f-btitle autodef">
							<span class="icon-dash-01"></span> Resumen de Factura
						</div>

						<div class="btns def-i blue pull-right vcenter m-top-i">
							<span class="tabcell">
								<i class="fa fa-print" aria-hidden="true"></i>&nbsp;&nbsp;Imprimir
							</span>
						</div>
					</div>
				</div>
			</div>

			<div class="basicrow mbott n-mtop">
				<div class="container">
					<div class="basicrow f-reg f-black roboto-r">
						<div class="basicrow m-bott-i">
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
									<div class="detail-obox">
										<div class="basicrow">
											<div class="detail-rbar-i vcenter">
												<div class="tabcell">
													Cuenta 690312939
												</div>
											</div>

											<div class="detail-drbar-i vcenter">
												<div class="tabcell">
													Factura 12/10/15
												</div>
											</div>
										</div>

										<div class="detail-blncs text-center">
											<div class="autorow rowcntr">
												<span class="roboto-l">Balance Anterior</span><br/>
												<span class="roboto-b">&#36;111.68</span>
											</div>

											<div class="autorow rowcntr leftspce">
												<span class="roboto-l">Pagos Recibidos</span><br/>
												<span class="roboto-b f-red">&#36;61.70</span>
											</div>
										</div>

										<div class="basicrow">
											<div data-toggle="collapse" data-target="#dtail1" class="dtail-tab">
												<div class="dtail-i vcenter">
													<i class="fa fa-plus" aria-hidden="true"></i>

													<i class="fa fa-minus" aria-hidden="true"></i>

													<div class="tabcell">
														Ajustes
													</div>
												</div>

												<div class="dtail-ii vcenter">
													<div class="tabcell">
														&#36;49.98
													</div>
												</div>
											</div>

											<div id="dtail1" class="collapse">
												<div class="indtail">
													<div class="indtail-i vcenter">
														<div class="tabcell">
															Descripci&oacute;n
														</div>
													</div>

													<div class="indtail-ii vcenter">
														<div class="tabcell">
															Fecha
														</div>
													</div>

													<div class="indtail-iii vcenter">
														<div class="tabcell">
															Cargos
														</div>
													</div>
												</div>

												<div class="indtail-cont">
													<div class="indtail-i vcenter">
														<div class="tabcell">
															N&uacute;mero de Tel&eacute;fono 787 204-1006
														</div>
													</div>

													<div class="indtail-ii roboto-b vcenter">
														<div class="tabcell">
														</div>
													</div>

													<div class="indtail-iii roboto-b vcenter">
														<div class="tabcell">
														</div>
													</div>
												</div>

												<div class="indtail-cont">
													<div class="indtail-i vcenter">
														<div class="tabcell">
															No honr&oacute; Price Plan
														</div>
													</div>

													<div class="indtail-ii roboto-b vcenter">
														<div class="tabcell">
															11/13/15
														</div>
													</div>

													<div class="indtail-iii roboto-b vcenter">
														<div class="tabcell">
															&#36;49.98
														</div>
													</div>
												</div>

												<div class="indtail-cont">
													<div class="indtail-i vcenter">
														<div class="tabcell">
															Total Ajustes Suscriptor 787 204-1006
														</div>
													</div>

													<div class="indtail-ii roboto-b vcenter">
														<div class="tabcell">
														</div>
													</div>

													<div class="indtail-iii roboto-b f-red vcenter">
														<div class="tabcell">
															&#36;49.98
														</div>
													</div>
												</div>

												<div class="indtail-cont">
													<div class="indtail-i vcenter">
														<div class="tabcell">
															Total Ajustes Suscriptores
														</div>
													</div>

													<div class="indtail-ii roboto-b vcenter">
														<div class="tabcell">
														</div>
													</div>

													<div class="indtail-iii roboto-b f-red vcenter">
														<div class="tabcell">
															&#36;49.98
														</div>
													</div>
												</div>

												<div class="indtail-cont intotal">
													<div class="indtail-i odtail-def roboto-b vcenter">
														<div class="tabcell">
															Total Ajustes
														</div>
													</div>

													<div class="indtail-iii roboto-b f-red f-med vcenter">
														<div class="tabcell">
															&#36;49.98
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="basicrow">
											<div data-toggle="collapse" data-target="#dtail2" class="dtail-tab">
												<div class="dtail-i vcenter">
													<i class="fa fa-plus" aria-hidden="true"></i>

													<i class="fa fa-minus" aria-hidden="true"></i>

													<div class="tabcell">
														Servicios a Nivel de Cuenta
													</div>
												</div>

												<div class="dtail-ii vcenter">
													<div class="tabcell">
														&#36;13.65
													</div>
												</div>
											</div>

											<div id="dtail2" class="collapse">
												<div class="basicrow">
													<div class="indtail-cont intitle">
														<div class="autocont full vcenter">
															<div class="tabcell">
																<i class="fa fa-money" aria-hidden="true"></i> Otros Cargos y/o Cr&eacute;ditos
															</div>
														</div>
													</div>

													<div class="indtail">
														<div class="indtail-i vcenter">
															<div class="tabcell">
																Descripci&oacute;n
															</div>
														</div>

														<div class="indtail-ii vcenter">
															<div class="tabcell">
																Referencia
															</div>
														</div>

														<div class="indtail-iii vcenter">
															<div class="tabcell">
																Cargos
															</div>
														</div>
													</div>

													<div class="indtail-cont">
														<div class="indtail-i vcenter">
															<div class="tabcell">
																Descuento en renta
															</div>
														</div>

														<div class="indtail-ii roboto-b vcenter">
															<div class="tabcell">
															</div>
														</div>

														<div class="indtail-iii roboto-b vcenter">
															<div class="tabcell">
																&#36;13.24
															</div>
														</div>
													</div>

													<div class="indtail-cont">
														<div class="indtail-i odtail-def vcenter">
															<div class="tabcell">
																Total Otros Cargos y/o Cr&eacute;ditos
															</div>
														</div>

														<div class="indtail-iii roboto-b f-red vcenter">
															<div class="tabcell">
																&#36;13.24
															</div>
														</div>
													</div>
												</div>

												<div class="basicrow">
													<div class="indtail-cont intitle">
														<div class="autocont full vcenter">
															<div class="tabcell">
																<i class="fa fa-money" aria-hidden="true"></i> Cargos Estatales y Federales
															</div>
														</div>
													</div>

													<div class="indtail">
														<div class="indtail-i vcenter">
															<div class="tabcell">
																Descripci&oacute;n
															</div>
														</div>

														<div class="indtail-ii vcenter">
															<div class="tabcell">
																Referencia
															</div>
														</div>

														<div class="indtail-iii vcenter">
															<div class="tabcell">
																Cargos
															</div>
														</div>
													</div>

													<div class="indtail-cont">
														<div class="indtail-i vcenter">
															<div class="tabcell">
																Cargos por Impuesto Estatal - IVU
															</div>
														</div>

														<div class="indtail-ii roboto-b vcenter">
															<div class="tabcell">
															</div>
														</div>

														<div class="indtail-iii roboto-b vcenter">
															<div class="tabcell">
																&#36;0.28
															</div>
														</div>
													</div>

													<div class="indtail-cont">
														<div class="indtail-i vcenter">
															<div class="tabcell">
																Fondo de Servicio Universal P.R.
															</div>
														</div>

														<div class="indtail-ii roboto-b vcenter">
															<div class="tabcell">
															</div>
														</div>

														<div class="indtail-iii roboto-b vcenter">
															<div class="tabcell">
																&#36;0.13
															</div>
														</div>
													</div>

													<div class="indtail-cont">
														<div class="indtail-i vcenter">
															<div class="tabcell">
																Fondo de Servicio Universal P.R.
															</div>
														</div>

														<div class="indtail-ii roboto-b vcenter">
															<div class="tabcell">
															</div>
														</div>

														<div class="indtail-iii roboto-b f-red vcenter">
															<div class="tabcell">
																&#36;0.41
															</div>
														</div>
													</div>

													<div class="indtail-cont intotal">
														<div class="indtail-i odtail-def roboto-b vcenter">
															<div class="tabcell">
																Total Servicios Nivel Cuenta
															</div>
														</div>

														<div class="indtail-iii roboto-b f-red f-med vcenter">
															<div class="tabcell">
																&#36;0.82
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="basicrow">
											<div data-toggle="collapse" data-target="#dtail3" class="dtail-tab">
												<div class="dtail-i vcenter">
													<i class="fa fa-plus" aria-hidden="true"></i>

													<i class="fa fa-minus" aria-hidden="true"></i>

													<div class="tabcell">
														Servicios Telefon&iacute;a M&oacute;vil
													</div>
												</div>

												<div class="dtail-ii vcenter">
													<div class="tabcell">
														&#36;138.18
													</div>
												</div>
											</div>

											<div id="dtail3" class="collapse">
												<div class="indtail">
													<div class="indtail-i vcenter">
														<div class="tabcell">
															Descripci&oacute;n
														</div>
													</div>

													<div class="indtail-ii vcenter">
														<div class="tabcell">
															Referencia
														</div>
													</div>

													<div class="indtail-iii vcenter">
														<div class="tabcell">
															Cargos
														</div>
													</div>
												</div>

												<div class="indtail-cont">
													<div class="indtail-i vcenter">
														<div class="tabcell">
															Lorem Ipsum
														</div>
													</div>

													<div class="indtail-ii roboto-b vcenter">
														<div class="tabcell">
														</div>
													</div>

													<div class="indtail-iii roboto-b vcenter">
														<div class="tabcell">
															&#36;138.18
														</div>
													</div>
												</div>

												<div class="indtail-cont">
													<div class="indtail-i vcenter">
														<div class="tabcell">
															Lorem Ipsum
														</div>
													</div>

													<div class="indtail-ii roboto-b vcenter">
														<div class="tabcell">
														</div>
													</div>

													<div class="indtail-iii roboto-b f-red vcenter">
														<div class="tabcell">
															&#36;138.18
														</div>
													</div>
												</div>

												<div class="indtail-cont">
													<div class="indtail-i vcenter">
														<div class="tabcell">
															Total
														</div>
													</div>

													<div class="indtail-ii roboto-b vcenter">
														<div class="tabcell">
														</div>
													</div>

													<div class="indtail-iii roboto-b f-red vcenter">
														<div class="tabcell">
															&#36;138.18
														</div>
													</div>
												</div>

												<div class="indtail-cont intotal">
													<div class="indtail-i odtail-def roboto-b vcenter">
														<div class="tabcell">
															Total Servicios Telefon&iacute;a M&oacute;vil
														</div>
													</div>

													<div class="indtail-iii roboto-b f-red f-med vcenter">
														<div class="tabcell">
															&#36;138.18
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="dtail-subt">
											<div class="row">
												<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
														<span class="f-bmed">
															Total de Cargos Corrientes a Pagar
														</span><br/>

													<span class="f-mini">
															Por favor pagar en o Antes de 01/07/16
														</span>
												</div>

												<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right">
														<span class="roboto-b f-red f-bmed">
															&#36;124.54
														</span>
												</div>
											</div>
										</div>

										<div class="dtail-ftotal">
											<div class="ftotal-i text-left vcenter">
												<div class="tabcell">
													<span class="f-bmed roboto-black">Total a Pagar&#42;</span>
												</div>
											</div>

											<div class="ftotal-i text-right vcenter">
												<div class="tabcell">
													<span class="f-lsemi roboto-r f-red">&#36;124.54</span>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
									<div class="detail-obox">
										<div class="basicrow">
											<div class="detail-rbar-ii vcenter">
												<div class="tabcell">
													Resumen de Cargos por Subscriptor
												</div>
											</div>

											<div class="detail-drbar-ii vcenter">
												<div class="tabcell">
													Expandir Detalles
													<i class="fa fa-plus" aria-hidden="true"></i>
													<i class="fa fa-minus" aria-hidden="true"></i>
												</div>
											</div>
										</div>

										<div class="basicrow hidden-xs">
											<div class="indtail-b">
												<div class="indtail-i vcenter">
													<div class="tabcell">
														Nombre
													</div>
												</div>

												<div class="indtail-ii vcenter">
													<div class="tabcell">
														Subscriptor
													</div>
												</div>

												<div class="indtail-iii vcenter">
													<div class="tabcell">
														Cargos
													</div>
												</div>
											</div>
										</div>

										<div class="basicrow">
											<div data-toggle="collapse" data-target="#dtail4" class="dtail-tab subdtail">
												<i class="fa fa-plus" aria-hidden="true"></i>

												<i class="fa fa-minus" aria-hidden="true"></i>

												<div class="dtail-iii vcenter">
													<div class="tabcell">
														<span class="mdtail roboto-b">Nombre:</span> BETHZAIDA PAEZ PINEDO
													</div>
												</div>

												<div class="dtail-iv vcenter">
													<div class="tabcell">
														<span class="mdtail roboto-b">Subscriptor:</span> 787 204-1006
													</div>
												</div>

												<div class="dtail-v vcenter">
													<div class="tabcell">
														<span class="mdtail roboto-b">Cargos:</span> &#36;49.98
													</div>
												</div>
											</div>

											<div id="dtail4" class="collapse">
												<div class="basicrow">
													<div class="indtail-cont intitle">
														<div class="autocont full vcenter">
															<div class="tabcell">
																<i class="fa fa-money" aria-hidden="true"></i> Cargos Por Servicio Mensual
															</div>
														</div>
													</div>

													<div class="indtail">
														<div class="indtail-i vcenter">
															<div class="tabcell">
																Descripci&oacute;n
															</div>
														</div>

														<div class="indtail-ii vcenter">
															<div class="tabcell">
																Desde - Hasta
															</div>
														</div>

														<div class="indtail-iii vcenter">
															<div class="tabcell">
																Cargos
															</div>
														</div>
													</div>

													<div class="indtail-cont">
														<div class="indtail-i vcenter">
															<div class="tabcell">
																VZ+MSG+LD+RM+DPRUSPUJ5GB
															</div>
														</div>

														<div class="indtail-ii roboto-b vcenter">
															<div class="tabcell">
																12/10 - 01/09
															</div>
														</div>

														<div class="indtail-iii roboto-b vcenter">
															<div class="tabcell">
																&#36;49.98
															</div>
														</div>
													</div>

													<div class="indtail-cont intotal">
														<div class="indtail-i odtail-def roboto-b vcenter">
															<div class="tabcell">
																Total Servicio Mensual
															</div>
														</div>

														<div class="indtail-iii roboto-b f-gray f-med vcenter">
															<div class="tabcell">
																&#36;49.98
															</div>
														</div>
													</div>
												</div>

												<div class="basicrow">
													<div class="indtail-cont intitle">
														<div class="autocont full vcenter">
															<div class="tabcell">
																<i class="fa fa-bar-chart" aria-hidden="true"></i> Data Local
															</div>
														</div>
													</div>

													<div class="indtail">
														<div class="indtail-i vcenter">
															<div class="tabcell">
																Descripci&oacute;n
															</div>
														</div>

														<div class="indtail-ii vcenter">
															<div class="tabcell">
																Msg/Trans
															</div>
														</div>

														<div class="indtail-iii vcenter">
															<div class="tabcell">
																Cargos
															</div>
														</div>
													</div>

													<div class="indtail-cont">
														<div class="indtail-i vcenter">
															<div class="tabcell">
																Mensajes Texto Local 463
															</div>
														</div>

														<div class="indtail-ii roboto-b vcenter">
															<div class="tabcell">
															</div>
														</div>

														<div class="indtail-iii roboto-b vcenter">
															<div class="tabcell">
															</div>
														</div>
													</div>

													<div class="indtail-cont">
														<div class="indtail-i vcenter">
															<div class="tabcell">
																Servicio Data
															</div>
														</div>

														<div class="indtail-ii roboto-b vcenter">
															<div class="tabcell">
																Minutos - KB/MB
															</div>
														</div>

														<div class="indtail-iii roboto-b vcenter">
															<div class="tabcell">
															</div>
														</div>
													</div>

													<div class="indtail-cont">
														<div class="indtail-i vcenter">
															<div class="tabcell">
																Volumen de Datos
															</div>
														</div>

														<div class="indtail-ii roboto-b vcenter">
															<div class="tabcell">
																308 - 186,978.00
															</div>
														</div>

														<div class="indtail-iii roboto-b vcenter">
															<div class="tabcell">
																&#36;0.00
															</div>
														</div>
													</div>

													<div class="indtail-cont">
														<div class="indtail-i vcenter">
															<div class="tabcell">
																Ideas Claro
															</div>
														</div>

														<div class="indtail-ii roboto-b vcenter">
															<div class="tabcell">
																308 - 186,978.00
															</div>
														</div>

														<div class="indtail-iii roboto-b vcenter">
															<div class="tabcell">
																&#36;14.00
															</div>
														</div>
													</div>

													<div class="indtail-cont intotal">
														<div class="indtail-i odtail-def roboto-b vcenter">
															<div class="tabcell">
																Total Data Local
															</div>
														</div>

														<div class="indtail-iii roboto-b f-red f-med vcenter">
															<div class="tabcell">
																&#36;14.00
															</div>
														</div>
													</div>
												</div>

												<div class="basicrow">
													<div class="indtail-cont intitle">
														<div class="autocont full vcenter">
															<div class="tabcell">
																<i class="fa fa-phone-square" aria-hidden="true"></i> Resumen de Llamadas Tiempo en Aire
															</div>
														</div>
													</div>

													<div class="indtail">
														<div class="indtail-iv vcenter">
															<div class="tabcell">
																Nro. de Tel&eacute;fono
															</div>
														</div>

														<div class="indtail-v vcenter">
															<div class="tabcell">
																Llamadas
															</div>
														</div>

														<div class="indtail-vi vcenter">
															<div class="tabcell">
																Minutos
															</div>
														</div>

														<div class="indtail-vii vcenter">
															<div class="tabcell">
																Cargos
															</div>
														</div>
													</div>

													<div class="indtail-cont">
														<div class="indtail-iv roboto-b vcenter">
															<div class="tabcell">
																787-382-2234
															</div>
														</div>

														<div class="indtail-v roboto-b vcenter">
															<div class="tabcell">
																277
															</div>
														</div>

														<div class="indtail-vi roboto-b vcenter">
															<div class="tabcell">
																1024
															</div>
														</div>

														<div class="indtail-vii roboto-b vcenter">
															<div class="tabcell">
																&#36;0.00
															</div>
														</div>
													</div>

													<div class="indtail-cont intotal">
														<div class="indtail-i odtail-def roboto-b vcenter">
															<div class="tabcell">
																Total Resumen de Llamadas Tiempo en Aire
															</div>
														</div>

														<div class="indtail-iii roboto-b f-red f-med vcenter">
															<div class="tabcell">
																&#36;0.00
															</div>
														</div>
													</div>
												</div>

												<div class="basicrow">
													<div class="indtail-cont intitle">
														<div class="autocont full vcenter">
															<div class="tabcell">
																<i class="fa fa-phone-square" aria-hidden="true"></i> Resumen de Llamadas Larga Distancia
															</div>
														</div>
													</div>

													<div class="indtail">
														<div class="indtail-iv vcenter">
															<div class="tabcell">
																Nro. de Tel&eacute;fono
															</div>
														</div>

														<div class="indtail-v vcenter">
															<div class="tabcell">
																Llamadas
															</div>
														</div>

														<div class="indtail-vi vcenter">
															<div class="tabcell">
																Minutos
															</div>
														</div>

														<div class="indtail-vii vcenter">
															<div class="tabcell">
																Cargos
															</div>
														</div>
													</div>

													<div class="indtail-cont">
														<div class="indtail-iv roboto-b vcenter">
															<div class="tabcell">
																787-382-2234
															</div>
														</div>

														<div class="indtail-v roboto-b vcenter">
															<div class="tabcell">
																277
															</div>
														</div>

														<div class="indtail-vi roboto-b vcenter">
															<div class="tabcell">
																1024
															</div>
														</div>

														<div class="indtail-vii roboto-b vcenter">
															<div class="tabcell">
																&#36;0.00
															</div>
														</div>
													</div>

													<div class="indtail-cont intotal">
														<div class="indtail-i odtail-def roboto-b vcenter">
															<div class="tabcell">
																Total Resumen de Llamadas Larga Distancia
															</div>
														</div>

														<div class="indtail-iii roboto-b f-red f-med vcenter">
															<div class="tabcell">
																&#36;0.00
															</div>
														</div>
													</div>
												</div>

												<div class="basicrow">
													<div class="indtail-cont intitle">
														<div class="autocont full vcenter">
															<div class="tabcell">
																<i class="fa fa-money" aria-hidden="true"></i> Cargos Estatales y Federales
															</div>
														</div>
													</div>

													<div class="indtail">
														<div class="indtail-i vcenter">
															<div class="tabcell">
																Descripci&oacute;n
															</div>
														</div>

														<div class="indtail-ii vcenter">
															<div class="tabcell">
																Desde - Hasta
															</div>
														</div>

														<div class="indtail-iii vcenter">
															<div class="tabcell">
																Cargos
															</div>
														</div>
													</div>

													<div class="indtail-cont">
														<div class="indtail-i vcenter">
															<div class="tabcell">
																Cargos por Impuesto Estatal - IVU
															</div>
														</div>

														<div class="indtail-ii roboto-b vcenter">
															<div class="tabcell">
															</div>
														</div>

														<div class="indtail-iii roboto-b vcenter">
															<div class="tabcell">
																&#36;0.80
															</div>
														</div>
													</div>

													<div class="indtail-cont">
														<div class="indtail-i vcenter">
															<div class="tabcell">
																Cargos por Impuesto Municipal - IVU
															</div>
														</div>

														<div class="indtail-ii roboto-b vcenter">
															<div class="tabcell">
															</div>
														</div>

														<div class="indtail-iii roboto-b vcenter">
															<div class="tabcell">
																&#36;0.09
															</div>
														</div>
													</div>

													<div class="indtail-cont">
														<div class="indtail-i vcenter">
															<div class="tabcell">
																Fondo de Servicio Universal Federal
															</div>
														</div>

														<div class="indtail-ii roboto-b vcenter">
															<div class="tabcell">
															</div>
														</div>

														<div class="indtail-iii roboto-b vcenter">
															<div class="tabcell">
																&#36;0.03
															</div>
														</div>
													</div>

													<div class="indtail-cont">
														<div class="indtail-i vcenter">
															<div class="tabcell">
																Fondo de Servicio Universal P.R.
															</div>
														</div>

														<div class="indtail-ii roboto-b vcenter">
															<div class="tabcell">
															</div>
														</div>

														<div class="indtail-iii roboto-b vcenter">
															<div class="tabcell">
																&#36;0.43
															</div>
														</div>
													</div>

													<div class="indtail-cont">
														<div class="indtail-i vcenter">
															<div class="tabcell">
																Servicio 911
															</div>
														</div>

														<div class="indtail-ii roboto-b vcenter">
															<div class="tabcell">
															</div>
														</div>

														<div class="indtail-iii roboto-b vcenter">
															<div class="tabcell">
																&#36;0.43
															</div>
														</div>
													</div>

													<div class="indtail-cont intotal-i">
														<div class="indtail-i odtail-def roboto-b vcenter">
															<div class="tabcell">
																Total Cargos Estatales y Federales
															</div>
														</div>

														<div class="indtail-iii roboto-b f-red f-med vcenter">
															<div class="tabcell">
																&#36;1.83
															</div>
														</div>

														<div class="indtail-i odtail-def-i f-lmini roboto-r m-top-u vcenter">
															<div class="tabcell text-justify">
																Los Cargos por impuestos Estatales y Municipales respectivamente, aplican a las llamadas de Larga Distancia y/o a cualquier cargo de servicio basico mensual de su plan.
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="dtail-subt">
											<div class="row">
												<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
														<span class="f-bmed">
															Total Cargos Telefon&iacute;a M&oacute;vil
														</span>
												</div>

												<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right">
														<span class="roboto-b f-red f-bmed">
															&#36;124.54
														</span>
												</div>
											</div>
										</div>

										<div class="dtail-ftotal">
											<div class="ftotal-i text-left vcenter">
												<div class="tabcell">
													<span class="f-bmed roboto-black">Total Cargos Telefon&iacute;a M&oacute;vil</span>
												</div>
											</div>

											<div class="ftotal-i text-right vcenter">
												<div class="tabcell">
													<span class="f-lsemi roboto-r f-red">&#36;124.54</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="basicrow m-top-i">
							<div class="basicrow text-center roboto-b">
								<input type="checkbox"> &#191;Desea dejar de recibir su factura impresa en papel&#63;
							</div>

							<div class="basicrow text-center f-mini m-top-ii">
								&#42;AVISO DE SUSPENSI&Oacute;N: Para evitar la suspensi&oacute;n del servicio, su pago debe ser recibido en o antes de la fecha de vencimiento.
							</div>
						</div>

						<div class="basicrow m-top-i m-bott-i">
							<div class="logline full"></div>
						</div>

						<div class="basicrow text-center">
							<a class="qcklinks">
								<span class="autocont full vcenter">
									<span class="tabcell">
										<img src="images/qcklink-i.png" width="100%">

										Detalle de Llamadas
									</span>
								</span>
							</a>

							<a class="qcklinks">
								<span class="autocont full vcenter">
									<span class="tabcell">
										<img src="images/qcklink-ii.png" width="100%">

										Ver Factura en PDF
									</span>
								</span>
							</a>

							<a class="qcklinks">
								<span class="autocont full vcenter">
									<span class="tabcell">
										<img src="images/qcklink-iii.png" width="100%">

										Hist&oacute;rico de Pagos
									</span>
								</span>
							</a>
						</div>
					</div>
				</div>
			</div>

		</div>

		<% include footer %>

	</div>
        
</script>