<script type="text/template" id="invoice_download">

	<div id="wrapper" class="appsize">

		<div class="allcont logsize">

			<% include header %>

			<% include navmenu %>

			<% include tabs %>

			<div class="basicrow m-top">
				<div class="container">
					<div class="basicr-line-i">
						<div class="fulltitle m-top-i f-btitle autodef">
							<span class="icon-dash-01"></span> Descarga tu Factura
						</div>

						<div class="nroacc">
							<label class="label-r sidenmbr vcenter">
									<span class="tabcell">
										N&uacute;mero de Cuenta
									</span>
							</label>

							<select class="sel-f sidesel" id="select-account">
								<% _.each(accounts, function(value, index) { %>
								<option value="<%= value.Account %>"  <%= value.Account==selectedAccount.Account?'selected="selected"':'' %> ><%= value.Account %></option>
								<% }); %>
							</select>
						</div>
					</div>
				</div>
			</div>

			<div class="basicrow mbott n-mtop">
				<div class="container">
					<div class="basicrow">

						<div class="autorow pull-left m-right f-reg m-top-u-iii">
							<select class="sel-f sidesel" id="select-year">
								<% _.each(years, function(value, index) { %>
									<option value="<%= value.slice(-2) %>">
										<%= value %>
									</option>
								<% }); %>
							</select>
						</div>

					</div>

					<div class="basicrow">
						<div class="basicrow m-top-i">
							<div class="autorow pull-left f-tabletitle f-black roboto-r m-right">
								Factura
							</div>
						</div>

						<!-- [INIT TABLA WEB] -->
						<div class="basicrow m-top">
							<div class="boxtbl">
								<div class="tab-tbar evless">
									<div class="frwds dscgaf-i rline vcenter">
										<div class="tabcell">
											Fecha de Facturaci&oacute;n
										</div>
									</div>

									<div class="frwds dscgaf-i rline vcenter">
										<div class="tabcell">
											Vencimiento
										</div>
									</div>

									<div class="frwds dscgaf-i rline vcenter">
										<div class="tabcell">
											Cantidad
										</div>
									</div>

									<div class="frwds dscgaf-ii vcenter">
										<div class="tabcell">
											Ver Como
										</div>
									</div>
								</div>

								<div class="basicrow" id="table_f">

								</div>
							</div>
						</div>
						<!-- [END TABLA WEB] -->

						<div class="basicrow m-top allpads bordsdef f-reg roboto-r f-black text-justify">
							<span class="roboto-b">Servicio al Cliente</span><br/><br/>
							Escríbenos por nuestro chat para recibir asesoría inmediata o comunícate vía telefónica al 787-775-0000 ó marcando *611 desde tu teléfono celular.
						</div>

						<div class="basicrow m-top-i bg-gray allpads bg-gray-u f-reg roboto-r f-black text-justify">
							<span class="roboto-b">Hist&oacute;rico de facturas</span><br/><br/>
							El histórico de facturas te permite ver hasta tus ultimas trece (13) facturas. Para revisarlas solo necesitas ir a la columna Ver Como y oprimir el botón. Recuerda que solo se desplegaran quinientas (500) páginas de la factura, cuando aplique.  ​
							Si deseas revisar la factura completa, debes comunicarte con  <a id="open-chat" class="linkdefs">Servicio al Cliente.</a>
						</div>
					</div>
				</div>
			</div>

		</div>

		<% include footer %>

	</div>

</script>
