<script type="text/template" id="login_guest">

	<div id="wrapper" class="appsize">
		<div class="allcont logsize">
			<div class="basicrow">
				<div class="container">
					<div class="basicrow mbott text-center">
						<div class="shortcont">

							<div class="basicrow m-top text-center">
								<img width="100%" class="difloglogo extra-margin" src="images/miclaro-logov2.png">
							</div>

							<div class="basicrow m-top-i">
								<div class="btns red vcenter rippleR" id="btn-normal">
									<span class="tabcell">
										&#191;Ya registrado&#63; Ingresar aqu&iacute;
									</span>
								</div>
							</div>

							<div class="basicrow m-top-i">
								<div class="logline full"></div>
							</div>

							<div class="basicrow m-top">
								<div class="basicrow f-btitle text-center">
									<div class="basicrow">
										<!--<img width="100%" class="mc-icon" src="images/reg-a-icon.png">-->
										<div class="basicrow">Acceso R&aacute;pido</div>
										<div class="basicrow f-med roboto-b">
											Ingresar como Usuario Invitado
										</div>
									</div>
								</div>
							</div>

							<div class="basicrow m-top-i">
								<div class="basicrow rel">
									<input id="number" type="number" placeholder="N&uacute;mero de Tel&eacute;fono" class="inp-f">
								</div>
							</div>

							<div class="basicrow m-top-i">
								<div id="btn-login" class="btns red vcenter rippleR">
									<span class="tabcell">
										Continuar
									</span>
								</div>
							</div>

							<div class="basicrow text-center m-top-ii">
								<a id="btn-forgot" class="linkdefs">&#191;Olvidaste tu contrase&ntilde;a&#63;</a>
							</div>

							<div class="basicrow m-top-u-ii">
								<div id="btn-register" class="btns blue vcenter rippleB">
									<span class="tabcell">
										&#191;No tienes cuenta&#63; Reg&iacute;strate&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
									</span>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

		<% include footer %>

	</div>

</script>