<script type="text/template" id="netflix_support">

	<div id="wrapper" class="appsize">

		<div class="allcont logsize">

			<% include header %>

			<% include navmenu %>

			<div class="basicrow">
				<div class="basicrow">
					<div class="container">
						<div class="fulltitle m-top-i f-btitle">
							<span class="icon-dash-27"></span> Soporte de Netflix
						</div>
					</div>
				</div>

				<div class="basicrow roboto-r f-reg f-black m-top m-bott">
					<div class="container">
						<div class="basicrow roboto-l f-big">
							Preguntas Frecuentes sobre Facturaci&oacute;n
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg1" class="preg-f">
								&#191;Lorem  ipsum  dolor  sit  amet,  consectetuer  adipiscing  elit&#63;

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<div id="preg1" class="collapse">
								<div class="basicrow allpads bordsdef text-justify">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg2" class="preg-f">
								&#191;Lorem  ipsum  dolor  sit  amet,  consectetuer  adipiscing  elit&#63;

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<div id="preg2" class="collapse">
								<div class="basicrow allpads bordsdef text-justify">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg3" class="preg-f">
								&#191;Lorem  ipsum  dolor  sit  amet,  consectetuer  adipiscing  elit&#63;

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<div id="preg3" class="collapse">
								<div class="basicrow allpads bordsdef text-justify">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg4" class="preg-f">
								&#191;Lorem  ipsum  dolor  sit  amet,  consectetuer  adipiscing  elit&#63;

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<div id="preg4" class="collapse">
								<div class="basicrow allpads bordsdef text-justify">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg5" class="preg-f">
								&#191;Lorem  ipsum  dolor  sit  amet,  consectetuer  adipiscing  elit&#63;

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<div id="preg5" class="collapse">
								<div class="basicrow allpads bordsdef text-justify">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="basicrow roboto-r f-med f-black m-top-i bg-gray">
					<div class="container m-top-i m-bott">
						<div class="row m-top-i m-bott">
							<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 text-center">
								<img width="100%" class="n-supp-icon" src="images/netflixicon4.png">
							</div>

							<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 text-left">
								<div class="basicrow">
									<div class="row">
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="basicrow f-big roboto-l">
												Cont&aacute;ctanos
											</div>
										</div>

										<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 m-top">
											<div class="basicrow f-bmed roboto-b">
												Horario de Servicio al Cliente
											</div>

											<div class="basicrow f-med line-def-i m-top-ii">
												Lunes a Viernes: 8:00 a.m - 7:00 p.m<br/>
												S&aacute;bados y Domingos: 8:00 a.m - 5:00 p.m<br/>
												D&iacute;as Feriados: 8:00 a.m - 5:00 p.m
											</div>
										</div>

										<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 m-top">
											<div class="basicrow h-mtop f-bmed roboto-b">
												Tel&eacute;fonos de Contacto
											</div>

											<div class="basicrow f-med line-def-i m-top-ii">
												Servicio al Cliente: 787-755-0000<br/>
												&oacute; Marcando &#42;611 desde tu tel&eacute;fono celular.
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>

		<% include footer %>

	</div>

</script>
