<script type="text/template" id="password_step_3">

	<div id="wrapper" class="appsize">
		<div class="allcont logsize">

			<div class="basicrow mbott">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-8 col-md-8 col-lg-4 col-lg-offset-4 col-md-offset-2 col-sm-offset-2 m-top-i">
							<div class="basicrow f-lsemi roboto-r text-center">
								<div class="basicrow">
									<img width="100%" class="mc-icon" src="images/reg-a-icon.png">
									&#191;Olvidaste tu contrase&ntilde;a&#63;
								</div>

								<div class="basicrow m-top-ii">
									<div class="logline"></div>
								</div>
							</div>

							<div class="basicrow m-top f-reg f-black roboto-r text-justify">
								&nbsp;&nbsp;&nbsp;Por favor responde las preguntas de seguridad previamente configuradas en tu cuenta de acceso.
							</div>

							<div class="basicrow m-top-i">
								<label id="question1" class="label-f">&#191;Primera Pregunta&#63;</label>
								<div class="basicrow rel">
									<input id="answer1" type="password" placeholder="Respuesta" class="inp-f" autocapitalize="off">
								</div>
							</div>

							<div class="basicrow m-top">
								<label id="question2" class="label-f">&#191;Segunda Pregunta&#63;</label>
								<div class="basicrow">
									<input id="answer2" type="password" placeholder="Respuesta" class="inp-f" autocapitalize="off">
								</div>
							</div>

							<div class="basicrow m-top-i">
								<div id="btn-next" class="btns red vcenter rippleR">
									<div class="tabcell">
										Recuperar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
									</div>
								</div>
							</div>

							<div class="basicrow m-top-i">
								<div class="logline full"></div>
							</div>

							<div class="basicrow text-center m-top-i">
								<a id="btn-login" class="linkdefs">Volver al inicio de sesi&oacute;n&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<% include footer %>

	</div>

</script>