<script type="text/template" id="refiere_step_1">

	<div id="wrapper" class="appsize">


		<div class="popupbg popup-term" style="display: none">
			<div class="popupcont">
				<div class="basicrow f-black f-mildt roboto-m">
					T&eacute;rminos y Condiciones - Reglas de Redención
				</div>

				<div class="basicrow m-top">
					<div class="termgbg">
						<div class="termr-t">
							Programa de Referidos permitirá que cualquier cliente activo pueda referir nuevos clientes sin importar el tiempo que
							lleve como cliente en Claro. Se detallan las reglas de participación del programa según el producto que se detallan a
							continuación:


							I. Móvil “Update”

							1. No existirá límite de referidos.
							2. Para poder participar y disfrutar de los beneficios del programa, el cliente existente que refiere debe:
							•Estar suscrito a Mi Claro.
							•Estar suscrito a facturación electrónica.
							•Tener cuenta activa con balance al corriente.
							•Estar activo en una cuenta Móvil “Update” o financiamiento.
							•El cliente referido debe haber activado uno de los productos aplicables a la promoción.
							•Aceptar los términos y condiciones del programa.
							Cliente que refiere debe:

							1. Recibirá un cupón que al redimir le representará un descuento de $50.00 en la compra de un nuevo Smartphone a precio
							regular, si un amigo o particular que refirió al Programa activa una cuenta Móvil “Update”, o que al redimir
							representará como un descuento para el pago de su factura.
							2. Si el cliente existente que refiere NO tiene alguna suscripción en su cuenta equivalente al servicio que se suscribió
							el cliente referido, se le otorgará un cupón de $25.00 que al redimir representará como un descuento para el pago de su
							factura.
							3. El cliente que realiza el referido podrá acumular sus beneficios (hasta un máximo de 10 cupones de $50.00,
							equivalentes a $500.00, para la compra de un equipo.
							4. El beneficio de descuento aplica para equipos a precio regular, solo en las activaciones nuevas y renovaciones de
							clientes existentes.
							5. No se podrá utilizar el beneficio en combinación con otras promociones u ofertas de equipos.
							6. El cupón no será válido para saldos de equipos en “Update”. (El cliente debe saldar su equipo primero).
							7. El cupón no se utilizará como crédito o reembolso a cuenta en caso de cancelación.
							8. Los cupones no son transferibles.
							9. Una vez acepte redimir su cupón el mismo perderá su validez, este no podrá ser cancelado, reversado o reembolsado.
							10. Del cliente cancelar en o antes de los 7 días o realizar cambio de equipo, no se honrará el cupón redimido en la
							transacción inicial de la compra de equipo.
							11. El cliente existente que refiere podrá disfrutar su cupón a partir del octavo día de la fecha de activación del
							servicio móvil del cliente referido, o una vez se complete la instalación del servicio fijo del cliente prospecto.
							12. El monto de los cupones tiene que ser igual o menor al precio del equipo. Si es mayor, el cliente pierde la
							diferencia.

							Cliente referido debe:

							1. Activar un nuevo suscriptor en Móvil “Update” o uno de los productos aplicables del programa. Estos son: Móvil
							“Update”, Prepago, BYOP Credit Limit, Servicio de Internet y Televisión 2 Play y 3 Play con contrato de 24 meses.
							2. Suscribirse a Mi Claro.
							3. Suscribirse a facturación electrónica.
							4. Aceptar los términos y condiciones del programa.

							Tanto para el cliente que refiere o el que es referido:

							1. El beneficio de descuento a la cuenta se activará aun cuando el cliente tenga otros descuentos vigentes o activos en
							la cuenta. Ej.: Descuentos de retención y descuento en bono de portabilidad, entre otros.
							2. En el caso de usar el cupón para pago a su factura, solo podrá redimir un cupón. Este se reflejará al momento de ser
							redimido.
							Si el valor del cupón (descuento) redimido es mayor al balance pendiente de su factura, al redimir este descuento el
							cliente perderá la diferencia del valor restante.
							Si el valor de descuento redimido es menor al balance pendiente de su factura, el cliente es responsable de pago
							remanente de su factura en o antes de la fecha de vencimiento.
							3. Al momento de redimir su beneficio es importante que la cuenta NO esté suspendida o con atrasos. De estarlo, el
							cliente debe poner la cuenta al corriente para poder redimir su beneficio.
							4. El beneficio expira en un período de 12 meses.
							5. El cupón o descuento tendrá la fecha de expiración, tomando como inicio la fecha de envío del cupón.
							6. Cliente debe gestionar la redención de su cupón a través de Mi Claro. Claro no se hace responsable por cupones no
							redimidos por el cliente.


							II. Móvil BYOP/ “Credit Limit”

							1. No existirá límite de referidos.
							2. Para poder participar y disfrutar de los beneficios del programa, el cliente existente que refiere debe:
							•Estar suscrito a Mi Claro.
							•Estar suscrito a facturación electrónica.
							•Cuenta activa con balance al corriente.
							•Activo en una cuenta Móvil BYOP / CREDIT LIMIT.
							•El cliente referido debe haber activado uno de los productos aplicables a la promoción.
							•Aceptar los términos y condiciones del programa.

							El cliente que refiere:

							1. Recibirá un cupón que al redimir le representará un descuento de $25.00 en la compra de un nuevo Smartphone a precio
							regular, si un amigo o particular que refirió al Programa activa una cuenta BYOP/CREDIT LIMIT o que al redimir
							representará como un descuento para el pago de su factura.
							•Si el cliente existente que refiere NO tiene alguna suscripción en su cuenta equivalente al servicio que se suscribió
							el cliente referido, se le otorgará un cupón de $25.00 que al redimir representará como un descuento para el pago de su
							factura.
							•El cliente que realiza el referido podrá acumular sus beneficios (hasta un máximo de 4 cupones de $25.00, equivalentes
							a $100.00, para la compra de un equipo a precio regular.
							2. El beneficio de descuento aplica para equipos a precio regular, solo en las activaciones nuevas y renovaciones de
							clientes existentes.
							3. No se podrá utilizar el beneficio en combinación con otras promociones u ofertas de equipos.
							4. El cupón no se utilizará como crédito o reembolso a cuenta en caso de cancelación.
							5. Los cupones no son transferibles.
							6. Una vez acepte redimir su cupón el mismo perderá su validez, este no podrá ser cancelado, reversado o reembolsado.
							7. Del cliente cancelar en o antes de los 7 días o realizar cambio de equipo, no se honrará el cupón redimido en la
							transacción inicial de la compra de equipo.
							8. El cliente existente que refiere podrá disfrutar su cupón a partir del octavo día de la fecha de activación del
							servicio móvil del cliente referido, o una vez se complete la instalación del servicio fijo del cliente prospecto.
							9. El monto de los cupones tiene que ser igual o menor al precio del equipo. Si es mayor, el cliente pierde la
							diferencia.

							Cliente referido debe:

							1. Activar un nuevo suscriptor en “BYOP/Credit Limit” o uno de los productos aplicables del programa. Estos son: Móvil
							“Update”, Prepago, BYOP/Credit Limit”, Servicio de Internet y Televisión 2 Play y 3 Play con contrato de 24 meses.
							•Suscribirse a Mi Claro.
							•Suscribirse a facturación electrónica.
							•Aceptar los términos y condiciones del programa.
							2. El cliente referido solo tendrá un cupón para redimir como descuento a su cuenta.
							3. El beneficio de descuento a la cuenta se activará aun cuando el cliente tenga otros descuentos vigentes o activos en
							la cuenta. Ej.: Descuentos de retención y descuento en bono de portabilidad, entre otros.

							Tanto para el cliente que refiere o el que es referido:

							1. En el caso de usar el cupón para pago a su factura, solo podrá redimir un cupón. Este se reflejará al momento de ser
							redimido.
							•Si el valor del cupón (descuento) redimido es mayor al balance pendiente de su factura, al redimir este descuento el
							cliente perderá la diferencia del valor restante.
							•Si el valor de descuento redimido es menor al balance pendiente de su factura, el cliente es responsable de pago
							remanente de su factura en o antes de la fecha de vencimiento.
							2. Al momento de redimir su beneficio es importante que la cuenta NO esté suspendida o con atrasos. De estarlo, el
							cliente debe poner la cuenta al corriente para poder redimir su beneficio.
							1. El beneficio expira en un período de 12 meses.
							2. El cupón o descuento tendrá la fecha de expiración, tomando como inicio la fecha de envío del cupón.
							3. Cliente debe gestionar la redención de su cupón a través de Mi Claro. Claro no se hace responsable por cupones no
							redimidos por el cliente.


							III. Móvil Prepago

							1. No existirá límite de referidos.
							2. Cliente existente y cliente referido deben estar registrados en Mi Claro Prepago.
							3. Para poder participar y disfrutar de los beneficios del programa, el cliente existente que refiere debe:
							•Haber completado su activación de cuenta prepagada con los datos válidos del cliente.
							•Estar suscrito a plan Prepago de renta o a granel.
							•Tener cuenta activa. No puede estar en Plan 3000 y los clientes con data a granel no pueden tener su balance expirado.
							•Aceptar los términos y condiciones del programa.

							El cliente que refiere:

							1. El cliente que refiere recibirá un cupón que al redimir le representará un descuento de $25.00 para la compra de un
							nuevo Smartphone a precio regular, si un amigo o particular que refirió al Programa activa un prepago o que al redimir
							equivale a una recarga en su cuenta.
							•Si el cliente existente que refiere NO tiene alguna suscripción en su cuenta equivalente al servicio que se suscribió
							el cliente referido, se le otorgará un cupón de $25.00 que al redimir equivale a una recarga en su cuenta.
							2. El cliente que realiza el referido podrá acumular sus beneficios (cupones) hasta un máximo de 4 cupones de $25.00,
							equivalentes a $100.00 para la compra de un equipo a precio regular.
							3. En el caso que desee usar el beneficio para recarga de $25, se requiere que haya activado una cuenta pre pagada.
							3. No se podrá utilizar el beneficio en combinación con otras promociones u ofertas de equipos.
							4. El cupón no se utilizará como crédito o reembolso a cuenta en caso de cancelación.
							5. Los cupones no son transferibles.
							6. Una vez acepte redimir su cupón el mismo perderá su validez, este no podrá ser cancelado, reversado o reembolsado.
							7. Del cliente cancelar en o antes de los 7 días o cambio de equipo el cliente no se honrará el cupón redimido en la
							transacción de la compra de equipo inicial.
							8. El cliente existente que refiere podrá disfrutar su cupón a partir del octavo día de la fecha de activación del
							servicio móvil del cliente referido, o una vez se complete la instalación del servicio fijo del cliente prospecto.
							9. El monto de los cupones tiene que ser igual o menor al precio del equipo. Si es mayor, el cliente pierde la
							diferencia.

							Cliente referido debe:

							1. Activar un nuevo suscriptor en PREPAGO o uno de los productos del programa. Estos son: Móvil “Update”, “BYOP/Credit
							Limit”, Servicio de Internet y Televisión 2 Play y 3 Play con contrato de 24 meses.
							•Haber completado la activación de prepago con datos válidos.
							•Suscribirse a Mi Claro Prepago.
							•Aceptar los términos y condiciones del programa.
							2. El cliente referido solo tendrá un cupón para redimir como recarga a su cuenta.

							Tanto para el cliente que refiere o el que es referido:

							1. En el caso de usar el cupón para recarga a la cuenta, éste se reflejará al momento de ser redimido.
							•Si el valor del cupón (recarga) redimido es mayor al balance pendiente de su factura, al redimir este descuento el
							cliente perderá la diferencia del valor restante.
							•Si el valor del cupón (recarga) redimido es menor al balance pendiente de su recarga, el cliente es responsable de
							completar el pago remante equivalente a su plan al momento para poder completar su recarga.
							2. Al momento de redimir su beneficio es importante que la cuenta este activa, no puede estar en plan 3000.
							3. Clientes con Data a granel no pueden tener su balance expirado.
							4.De estarlo, el cliente debe realizar las recargas correspondientes para poder redimir su beneficio.
							5. El beneficio expira en un período de 12 meses.
							6. El cupón o descuento tendrá la fecha de expiración, tomando como inicio la fecha de envío del cupón.
							7. Cliente debe gestionar la redención de su cupón a través de Mi Claro. Claro no se hace responsable por cupones no
							redimidos por el cliente.


							IV. Servicio de Telefonía Fija – 2 Play / 3 Play

							1. No existirá límite de referidos.
							2. Para poder participar y disfrutar de los beneficios del programa, el cliente existente que refiere debe:
							•Estar suscrito a Fijo con plan de 2 Play o 3Play con contrato de 24 meses.
							•Estar registrado en Mi Claro.
							•Estar suscrito a facturación electrónica.
							•Aceptar los términos y condiciones del programa.

							El cliente que refiere:

							1. El cliente que refiere recibirá un cupón que al redimir le representará un descuento de 50% a la renta de su plan en
							la próxima factura luego que se complete la activación de un servicio móvil o la instalación de un servicio fijo del
							amigo o particular que refirió.
							2. El cliente existente que refiere podrá disfrutar su cupón a partir del octavo día de la fecha de activación del
							servicio móvil del cliente referido, o una vez se complete la instalación del servicio fijo del cliente prospecto.
							3. El cliente que refiere podrá acumular sus beneficios (cupones) de así desearlo para aplicarlos como descuentos al plan
							de su renta, a manera de un beneficio (cupón) por ciclo de facturación. El mismo se reflejará en su próximo cierre de
							ciclo.

							Los clientes referidos deberán:

							1. Activarse al servicio 2Play o 3Play con IPTV en contrato de 24 meses.
							2. Estar suscrito a Mi Claro.
							3. Estar suscrito a facturación electrónica.
							4. Cuenta activa con balance al corriente.
							5. Aceptar los términos y condiciones del programa.

							Tanto para el cliente que refiere o el que es referido:

							1. El beneficio (descuento) solo aplicará al 50% renta del plan.
							2. No aplica a cargos reglamentarios, cargos por franquicia, IVU, cargos por STB, canales Premium, canales de adultos y
							paquetes complementarios.
							3. El descuento aplicará aun cuando el cliente tenga otros descuentos vigentes o activos en la cuenta. Ej.: Descuentos de
							retención o en descuento bono de portabilidad, entre otros.
							4. El cliente tendrá 12 meses para redimir los descuentos acumulados a partir de la fecha de vigencia de los mismos.
							5. El cupón o descuento tendrá fecha de expiración, tomando como inicio la fecha de envío del mismo.
							Al momento de redimir su beneficio es importante que la cuenta NO esté suspendida o con atrasos. De estarlo, el cliente
							debe poner la cuenta al corriente para poder redimir su beneficio. Cliente debe gestionar la redención de su cupón a
							través de Mi Claro. Claro no se hace responsable por cupones no redimidos por el cliente.
						</div>
					</div>
				</div>

				<div class="basicrow text-center m-top-i lessm">
					<div id="close-terms" class="btns def-i red centr vcenter rippleR">
						<span class="tabcell">
									Cerrar&nbsp;&nbsp;<i class="fa fa-times" aria-hidden="true"></i>
						</span>
					</div>

				</div>
			</div>

		</div>


		<div class="popupbg popup-cant" style="display: none">
			<div class="popupcont">
				<div class="basicrow text-justify f-black roboto-r">
					<span class="roboto-b">&#161;Gracias por su inter&eacute;s en nuestro Programa de Refiere y Gana&#33;</span> Su cuenta no cumple con los requisitos de participaci&oacute;n de este programa. Para informaci&oacute;n adicional comun&iacute;quese con unos de nuestros Coordinadores de Servicio al Cliente a trav&eacute;s de nuestro CHAT o revise las reglas y t&eacute;rminos y condiciones de esta promoci&oacute;n.
				</div>

				<div class="basicrow m-top-i">
					<div class="logline full"></div>
				</div>

				<div class="basicrow text-center m-top-i">
					<div class="red btns savech centr vcenter btn-home">
						<div class="tabcell" id="cancel-cant">
							Ok&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="popupbg popup-select" style="display: none">
			<div class="popupcont">
				<div class="basicrow f-black f-mildt roboto-m">
                    Validación de Cuentas Programa de Referidos
				</div>

				<div class="basicrow m-top-i">
					<label class="label-r">&#42; Número de Cuenta</label>

					<div class="basicrow">
						<select id="select-account" class="sel-f">
							<option>Seleccionar</option>
						</select>
					</div>
				</div>

				<div class="basicrow m-top-i">
					<label class="label-r">&#42; Número de Teléfono</label>

					<div class="basicrow">
						<select id="select-subscriber" class="sel-f">
							<option>Seleccionar</option>
						</select>
					</div>
				</div>

				<div class="basicrow m-top-i">
					<div class="logline full"></div>
				</div>

				<div class="basicrow text-center m-top">
					<div class="btns def-i red pull-left vcenter rippleR" id="next-select">
						<span class="tabcell">
							Continuar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
						</span>
					</div>

					<div class="btns def-i gray pull-left vcenter" id="cancel-select">
						<span class="tabcell">
							Cancelar
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="popupbg popup-update" style="display: none">
			<div class="popupcont">
				<div class="basicrow f-black f-mildt roboto-m">
					Actualiza tu Perfil
				</div>

				<div class="basicrow m-top-i">
					<label class="label-r">&#42; Escoge pasatiempo favorito</label>

					<div class="basicrow">
						<select id="select-hobby"  class="sel-f">
							<option>Seleccionar</option>
						</select>
					</div>
				</div>

				<div class="basicrow">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<div class="basicrow m-top-i">
								<label class="label-f">&#42; Fecha de Nacimiento</label>

								<div class="basicrow rel">
									<i class="fa fa-calendar inpcal-icon" aria-hidden="true"></i>

									<input id="date" type="date" value="1980-05-02" class="inp-f qt">
								</div>
							</div>
						</div>

						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<div class="basicrow m-top-i">
								<label class="label-f">&#42; Factura Electr&oacute;nica de Servicio</label>

								<div class="basicrow">
									<input type="email" id="email" class="inp-f">
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="basicrow f-reg f-black roboto-r m-top-i text-justify">
					<img class="plessicon" width="100%" src="images/fact-dig.png">

					<div class="popopt less-m roboto-b">
						Paperless:
					</div>

					<div class="popopt">
						<input id="radio-yes" type="radio" name="group-paperless"> Si
					</div>

					<div class="popopt">
						<input id="radio-no" type="radio" name="group-paperless"> No
					</div>
				</div>

				<div class="basicrow m-top-i">
					<div class="logline full"></div>
				</div>

				<div class="basicrow text-center m-top">
					<div class="btns def-i red pull-left vcenter rippleR" id="next-update">
						<span class="tabcell">
							Continuar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
						</span>
					</div>

					<div class="btns def-i gray pull-left vcenter" id="cancel-update">
						<span class="tabcell">
							Cancelar
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="popupbg popup-balance-post" style="display: none">
			<div class="popupcont">
				<div class="basicrow f-black f-mildt roboto-m">
					Balance Vencido
				</div>

				<div class="basicrow f-black f-reg m-top-i text-justify">
					Estimado Cliente su cuenta posee un balance vencido. Para poder continuar con el proceso de referir sus contactos por favor pague el balance pendiente abajo mostrado y presione la opci&oacute;n Pagar.
				</div>

				<div class="basicrow m-top-i">
					<div class="logline full"></div>
				</div>

				<div class="basicrow m-top-i">
					<div class="balancesptr-ii text-center refdef">
						<span class="roboto-b">
							Balance Pendiente
						</span><br>

						<span class="f-red f-lsemi roboto-b" id="balance-post">
							$0.00
						</span>
					</div>

					<div class="basicrow visible-xs">
						<div class="logline full"></div>
					</div>

					<div class="balancesptr-ii ref-nbrd refdef">
						<label class="label-r roboto-b">Monto a Pagar (&#36;)</label>

						<div class="basicrow rel">
							<img data-toggle="popover" data-html="true" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit." data-placement="bottom" class="q-t" width="100%" src="images/tooltip1.png">

							<input id="value-balance-post" value="&#36;0.00" class="inp-f refdefnt qt">
						</div>
					</div>
				</div>

				<div class="basicrow m-top-u">
					<div class="logline full"></div>
				</div>

				<div class="basicrow text-center m-top">
					<div class="btns def-i red pull-left vcenter rippleR" id="next-balance-post">
						<span class="tabcell">
							Pagar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
						</span>
					</div>

					<div class="btns def-i gray pull-left vcenter" id="cancel-balance-post">
						<span class="tabcell">
							Cancelar
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="popupbg popup-balance-pre" style="display: none">
			<div class="popupcont">
				<div class="basicrow f-black f-mildt roboto-m">
					Balance Vencido
				</div>

				<div class="basicrow f-black f-reg m-top-i text-justify">
					Estimado Cliente su cuenta posee un balance vencido. Para poder continuar con el proceso de referir sus contactos por favor recargue el balance a su cuenta prepaga mostrada y presione la opci&oacute;n Pagar o de lo contrario presione el bot&oacute;n Cancelar para abandonar el proceso.
				</div>

				<div class="basicrow m-top-i">
					<div class="logline full"></div>
				</div>

				<div class="basicrow m-top-i">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-3">
							<div class="basicrow">
								<label class="label-r roboto-b">Recarga Prepago &#45; Monto a Pagar (&#36;)</label>

								<div class="basicrow rel">
									<img data-toggle="popover" data-html="true" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit." data-placement="bottom" class="q-t" width="100%" src="images/tooltip1.png">

									<input value="&#36;174.87" class="inp-f refdefnt qt">
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="basicrow m-top-i">
					<div class="logline full"></div>
				</div>

				<div class="basicrow text-center m-top">
					<div class="btns def-i red pull-left vcenter rippleR" id="next-balance-pre">
						<span class="tabcell">
							Pagar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
						</span>
					</div>

					<div class="btns def-i gray pull-left vcenter" id="cancel-balance-pre">
						<span class="tabcell">
							Cancelar
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="stopfoot-i">

			<% include header %>

			<% include navmenu %>

			<div class="basicrow">
				<div class="basicrow">
					<div class="container">
						<div class="fulltitle m-top-i f-btitle">
							<span class="icon-dash-21"></span> Programa Refiere y Gana
						</div>
					</div>
				</div>

				<div class="basicrow">
					<div class="container nocont">
						<div class="basicrow rel m-top-i">
							<img width="100%" class="innerban" src="images/refbanimg.jpg">

							<div class="innerbantexts">
								<div class="basicrow f-black roboto-l">
									Por cada amigo que refieras<br/>
									<span class="f-reg f-mgray">Obtendras cupones</span>
								</div>

								<div class="basicrow">
									<div id="btn-refiere" class="btns blue refdef vcenter rippleB">
										<div class="tabcell">
											Refiere&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
										</div>
									</div>

									<div id="btn-redimir" class="btns blue refdef refdefleft vcenter rippleB">
										<div class="tabcell">
											Redimir&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="basicrow m-top-i lessm">
					<div class="container">
						<div class="basicrow m-top-i">
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 roboto-l f-black text-justify">
									<span class="f-big less-f">&#191;Qu&eacute; es el programa de Refiere y Gana&#63;</span><br/><br/>
									<span class="f-reg-i f-mgray">Este programa tiene como objetivo incentivar a nuestros clientes existentes a recomendarnos a sus amigos, familiares, conocidos, cuando el cliente referido activo uno de los servicios aplicables de la promoci&oacute;n en CLARO.</span>
								</div>

								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-7 text-center">
									<img width="100%" class="reflaptimg" src="images/reflaptopimg.jpg">
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="basicrow graybg">
					<div class="container">
						<div class="basicrow">
							<div class="row refdef">
								<!--<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">-->
									<!--<div class="basicrow text-center">-->
										<!--<img width="100%" class="ref-icons" src="images/reficon1.png">-->
									<!--</div>-->

									<!--<div class="basicrow f-black roboto-l text-justify m-top">-->
										<!--<div class="basicrow f-mildt text-left">-->
											<!--&#191;Qu&eacute; hago para participar&#63;-->
										<!--</div>-->

										<!--<div class="f-reg roboto-r f-black basicrow m-top">-->
											<!--Accede a nuestra p&aacute;gina <a href="https://www.claropr.com/personas/" target="_blank" class="linkdefs">www.claropr.com</a>, ingresa la informaci&oacute;n requerida, acepta los t&eacute;rminos y condiciones del programa y comienza a referir.-->
										<!--</div>-->
									<!--</div>-->
								<!--</div>-->

								<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 hrefmtop">

									<div id="icono_questions" class="basicrow text-center">
											<img style ="font-size: 4em;cursor: pointer;width: auto;height: 90px;" src="images/ico_preguntasFrecuentes.png">
											Preguntas frecuentes
									</div>

									<div class="basicrow m-top"></div>

									<div id="terminos" class="basicrow text-center">
										<img style ="font-size: 4em;cursor: pointer;width: auto;height: 90px;" src="images/ico_terminosCondiciones.png">
										Términos y Condiciones
									</div>

								</div>

								<!--<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 hrefmtop">-->

									<!--<div class="basicrow f-black roboto-l text-justify">-->
										<!--<div class="f-reg roboto-r f-black basicrow">-->
											<!--<span class="roboto-b">Cliente referido tendr&aacute; hasta 12 meses a partir del recibo del correo electr&oacute;nico para activar uno de los servicios aplicables a la promoci&oacute;n en CLARO.</span>-->
										<!--</div>-->
									<!--</div>-->
								<!--</div>-->

							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<% include footer %>

	</div>

</script>
