<script type="text/template" id="refiere_questions">

	<div id="wrapper" class="appsize">

		<div class="allcont logsize">

			<% include header %>

			<% include navmenu %>

			<div class="basicrow">

				<div class="basicrow">
					<div class="container">
						<div class="fulltitle m-top-i f-btitle">
							<span><img src="images/ico_preguntasFrecuentes.png" style="height: 50px; width: 50px; margin: 10px"></span>
							&nbsp;Preguntas Frecuentes
						</div>
					</div>
				</div>

				<div class="basicrow roboto-r f-reg f-black m-top-i m-bott">
					<div class="container">
						<div class="basicrow">
							<div data-toggle="collapse" data-target="#preg1" class="preg-f">
								¿Qué es el Programa Refiere y Gana?

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<div id="preg1" class="collapse">
								<div class="basicrow allpads bordsdef text-justify">
									Este programa tiene el objetivo de incentivar a nuestros clientes existentes por cada referido a amigos, familiares y conocidos que culmine en una activación de servicio. Por otro lado, el cliente referido recibirá beneficios por su activación. Todas las transacciones se gestionarán y monitorearán a través de Mi Claro, permitiéndole al cliente autogestión de sus beneficios.
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg2" class="preg-f">
								¿Qué hago para participar?

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<div id="preg2" class="collapse">
								<div class="basicrow allpads bordsdef text-justify">
									• Si eres cliente existente CLARO, y tienes cuenta en Mi Claro, accede a la misma, ingresa la información requerida, acepta los términos y condiciones del Programa y comienza a referir. <br>
									• Si eres cliente existente CLARO, y NO tienes cuenta en Mi Claro, accede al enlace Mi Claro para registrarte en https://miclaro.clarotodo.com/, crea tu cuenta, acepta los términos y condiciones del programa y comienza a referir.<br>
									• NO eres cliente existente CLARO, activa uno de los productos o servicios aplicables del programa, crea tu cuenta en Mi Claro para tener acceso al Programa, acepta los términos y condiciones y comienza a referir.<br>
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg3" class="preg-f">
								¿Hay límite de referidos?

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<div id="preg3" class="collapse">
								<div class="basicrow allpads bordsdef text-justify">
									No existe límite de referidos.
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg4" class="preg-f">
								¿Cuáles son los productos a los cuales debo suscribirme para disfrutar de los beneficios del Programa de Referidos?

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<div id="preg4" class="collapse">
								<div class="basicrow allpads bordsdef text-justify">
									• Móvil “Update” <br>
									• Prepago<br>
									• BYOP “Credit Limit”<br>
									• Servicio de Internet y Televisión 2Play y 3 Play con contrato de 24 meses.<br>
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg5" class="preg-f">
								¿Cuáles son los Beneficios del Programa de Referidos?
						
								<i class="fa fa-plus" aria-hidden="true"></i>
						
								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>
						
							<div id="preg5" class="collapse">
								<div class="basicrow allpads bordsdef text-justify">
									<p style="color:red;font-style: oblique;font-weight: bold;">
										Beneficios para el cliente que refiere:
									</p>
									<p>
										El cliente que genera el referido recibirá un cupón de acuerdo al producto o servicio al que se suscribió el cliente referido que se mencionan a continuación.	
									</p>
									<br>
									<p>
										• El cliente que refiere recibirá un cupón que al redimir le representará un descuento de $50.00 en la compra de un nuevo Smartphone a precio regular, si un amigo o particular que refirió al Programa activa una cuenta Móvil “Update”, o que al redimir representará como un descuento para el pago de su factura.
									</p>
									<p>• Si el cliente existente que refiere NO tiene alguna suscripción en su cuenta equivalente al servicio que se suscribió el cliente referido, se le otorgará un cupón de $25.00 que al redimir representará como un descuento para el pago de su factura.</p>
									<p class="i-term">
										• El cliente que realiza el referido podrá acumular sus hasta un máximo de 10 cupones de $50.00, equivalentes a $500.00, para la compra de un equipo a precio regular.
									</p>
									<br>
									II.- “BYOP/Credit Limit”
									<p>
										• El cliente que refiere recibirá un cupón que al redimir le representará un descuento de $25.00 para la compra de un nuevo Smartphone a precio regular, si un amigo o particular que refirió al Programa activa una cuenta “BYOP/Credit Limit” o que al redimir representará como un descuento para el pago de su factura.
									</p>
									<p>
										• Si el cliente existente que refiere NO tiene alguna suscripción en su cuenta equivalente al servicio que se suscribió el cliente referido se le otorgará un cupón de $25.00 que al redimir representará como un descuento para el pago de su factura.
									</p>
									<p>
										• El cliente que realiza el referido podrá acumular sus beneficios (cupones) hasta un máximo de 4 cupones de $25.00, equivalentes a $100.00 para la compra de un equipo a precio regular.
									</p>
									<br>
									III.- Prepago
									<p>
										• El cliente que refiere recibirá un cupón que al redimir le representará un descuento de $25.00 para la compra de un nuevo Smartphone a precio regular, si un amigo o particular que refirió al Programa activa un prepago o que al redimir equivale a una recarga en su cuenta.
									</p>
									<p>
										• Si el cliente existente que refiere NO tiene alguna suscripción en su cuenta equivalente al servicio que se suscribió el cliente referido, se le otorgará un cupón de $25.00 que al redimir equivale a una recarga en su cuenta.
									</p>
									<p>
										• El cliente que realiza el referido podrá acumular sus beneficios (cupones) hasta un máximo de 4 cupones de $25.00, equivalentes a $100.00 para la compra de un equipo a precio regular.
									</p>
									<br>
									VI.- Servicio de Internet y Televisión 2Play y 3 Play:
									<p>
										• El cliente que refiere recibirá un cupón que al redimir le representará un descuento de 50% a la renta de su plan en la próxima factura luego que se complete la activación de un servicio móvil o la instalación de un servicio fijo del amigo o particular que refirió.
									</p>
									<br>
									<br>
									<p style="color:red;font-style: oblique;font-weight: bold;">
										Beneficios para el cliente referido:	
									</p>
									<br>
										El cliente que es referido recibirá un cupón que podrá redimir de acuerdo al producto o servicio al que se suscriba, de los mencionados a continuación:
									<br>
									<br>
									I.- Móvil “Update”
									<p>
										• El cliente que referido recibirá un cupón que al redimir le representará un descuento de $50.00 para el pago de su factura.
									</p>
									<br>
									II.- “BYOP/ Credit Limit” (Sin Contrato)
									<p>
										• El cliente referido recibirá un cupón que al redimir le representará un descuento de $25 para el pago de su factura.
									</p>
									<br>
									III.- Prepago
									<p>
										• El cliente referido recibirá un cupón que al redimir le representará una recarga de $25 en su cuenta.
									</p>
									<br>
									IV.- Servicio de Internet y Televisión 2play y 3play
									<p>
										•El cliente referido recibirá un cupón que al redimir le representará un descuento de 50% a la renta de su plan en la próxima factura luego que se complete la instalación.
									</p>
						
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg6" class="preg-f">
								¿Vigencia del cupón?
						
								<i class="fa fa-plus" aria-hidden="true"></i>
						
								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>
							<div id="preg6" class="collapse">
								<div class="basicrow allpads bordsdef text-justify">
									El cliente existente que refiere podrá disfrutar su cupón a partir del octavo día de la fecha de activación
									 del servicio móvil del cliente referido, o una vez se complete la instalación del servicio fijo del cliente prospecto.
									 El cliente referido tendrá hasta 12 meses, a partir del recibo del correo electrónico, para activar uno de los servicios aplicables a la promoción en CLARO y redimir el beneficio que corresponda.
								</div>
							</div>
						</div>
						
						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg7" class="preg-f">
								¿Cómo puedo validar el estatus de mis referidos y/o cupones?

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>


							<div id="preg7" class="collapse">
								<div class="basicrow allpads bordsdef text-justify">
									Una vez hayas registrado tu cuenta en Mi Claro, podrás acceder al Programa de Referidos para ver el estatus e historial de tus referidos y descuentos.
								</div>
							</div>
						</div>

						<div class="basicrow text-center m-top-i">
							<div id="return" class="btns def-i blue pull-left vcenter rippleB">
								<span class="tabcell">
									Regresar
								</span>
							</div>
						</div>
						
					</div>
				</div>
			</div>

		</div>

		<% include footer %>

	</div>
        
</script> 