<script type="text/template" id="sva_terms">

    <div id="wrapper">
        <div class="stopfoot-i">

			<div class="headbar text-center vcenter">
                <div class="container rel vcenter">
                    <div class="tabcell">
                    
                        <% if (showBackBth) { %>
                        <div class="btn-back">
                            <img class="dispicon" width="100%" src="images/backicon2.png">
                        </div>
                        <% } %>
                    
                        <img class="headlogo" width="100%" src="images/miclarologo.png">
                    </div>
                </div>
            </div>

            <div class="w-cont din-b f-white">
                <div class="container">
                    <span class="f-med">T&eacute;rminos y Condiciones</span>
                </div>
            </div>

            <div class="autobar f-reg text-justify f-black diffr">
                <div class="container">
                <div class="inbar-c vcenter f-bar-c dinb f-black">
                <span class="pull-left name">Legales</span>
                </div>
                
                <div class="basicrow" style="padding:10px;">
                <span class="pull-left name">Claro Protecci&oacute;n Móvil</span>
                <p class="basicrow text-justify" style="padding:10px;">
                Claro Protecci&oacute;n M&oacute;vil ofrece dos cubiertas: una cubierta de seguro que cubre los eventos de robo y p&eacute;rdida y un contrato de servicio que responde a eventos como resultado de da&ntilde;os accidentales y desperfectos mec&aacute;nicos
                o el&eacute;ctricos. Los deducibles a pagar al momento de una reclamaci&oacute;n var&iacute;an dependiendo del costo del equipo. El n&uacute;mero m&aacute;ximo de reemplazos son dos (2) en un periodo de 12 meses contados a partir de la fecha
                de p&eacute;rdida del primer reemplazo bajo el programa. Opci&oacute;n de reemplazo: Si no podemos reparar su producto a opci&oacute;n nuestra, podremos reemplazar el producto por uno reacondicionado o nuevo del mismo tipo y calidad. El precio
                del producto de reemplazo no ser&aacute; mayor que el precio de adquisici&oacute;n al detal del producto original cubierto. El nuevo producto de reemplazo se convertir&aacute; autom&aacute;ticamente en propiedad cubierta, excepto si usted opta
                por cancelar su contrato. El programa de protecci&oacute;n para equipo inal&aacute;mbrico Protecci&oacute;n M&oacute;vil es provisto por Assurant Services of Puerto Rico, Inc. y asegurado por Caribbean American Property Insurance Company, ambas
                empresas forman parte del grupo de compa&ntilde;&iacute;as de Assurant Solutions.
                </p>
                </div>
                <div class="basicrow" style="padding:10px;">
                <span class="pull-left name">Claro Rescate</span>
                <p class="basicrow text-justify" style="padding:10px;">
                Debo comunicarme *767 para solicitar asistencia y el celular debe estar presente en el momento de la emergencia. El servicio estar&aacute; activo a partir de las pr&oacute;ximas 72 horas. M&aacute;ximo de 2 autos pueden ser registrados por suscriptor.
                El servicio de Gr&uacute;a cubre hasta $150.00 por evento y sin l&iacute;mites de eventos en un a&ntilde;o. Para el cambio de goma, cerrajer&iacute;a, carga de bater&iacute;a y suministro de gasolina (hasta 2 galones) cubre hasta $100 por evento,
                sin l&iacute;mite de eventos. Excluye veh&iacute;culo de alquiler, veh&iacute;culos destinados al transporte p&uacute;blico de mercanc&iacute;as o personas. Claro no es el proveedor de los servicios. Servicios son provistos por American Assist
                a trav&eacute;s de representantes autorizados.
                </p>
                </div>
                <div class="basicrow" style="padding:10px;">
                <span class="pull-left name">Claro Residencia</span>
                <p class="basicrow text-justify" style="padding:10px;">
                El programa de asistencia no cubre fallos pre existentes de la propiedad y debo comunicarme *767 para solicitar asistencia al momento de la emergencia. El servicio incluye mano de obra y materiales hasta un total de $350 por evento, con un l&iacute;mite
                de 4 eventos por a&ntilde;o. Servicio estar&aacute; activo a partir de las pr&oacute;ximas 72 horas y la unidad m&oacute;vil debe estar presente al momento del servicio. Garantia de servicios 60 dias. Claro no es el proveedor de los servicios.
                Servicios son provistos por American Assist a trav&eacute;s de representantes autorizados.
                </p>
                </div>
                <div class="basicrow" style="padding:10px;">
                <span class="pull-left name">Claro Advantage</span>
                <p class="basicrow text-justify" style="padding:10px;">
                Los beneficios del programa Advantage son programados. Se requieren 48 horas para la programaci&oacute;n de los mismos. No es obligatorio tener el celular al momento del servicio. Servicio estar&aacute; activo a partir de las 72 horas pero requiere un
                termino de 30 d&iacute;as de la suscripci&oacute;n para la utilizaci&oacute;n los servicios. El programa le permite al beneficiario programar citas con antelaci&oacute;n. Claro no es el proveedor de los servicios. Servicios son provistos por
                American Assist a trav&eacute;s de representantes autorizados.
                </p>
                </div>
                </div>
                </div>
            </div>

        </div>

    </div>

</script>
