<script type="text/template" id="access_step_1">

	<div id="wrapper" class="appsize">
		<div class="allcont logsize">
			<div class="basicrow">
				<div class="container">
					<div class="basicrow mbott text-center">
						<div class="shortcont">
							<div class="basicrow m-top">
								<div class="basicrow f-btitle text-center">
									<div class="basicrow extra-margin">
										Actualizaci&oacute;n de acceso
									</div>
								</div>
							</div>

							<div class="basicrow m-top f-reg f-black roboto-r text-justify">
								El sistema requiere que porfavor actualize los siguiente datos&#58;
							</div>

							<div class="basicrow m-top-i">
								<label class="label-f">&#42; Nombre de Usuario Actual</label>
								<div class="basicrow rel">
									<input id="oldUser" class="inp-f" autocapitalize="off">
								</div>
							</div>

							<div class="basicrow m-top-i">
								<label class="label-f">&#42; Crear Nuevo usuario</label>
								<div class="basicrow rel">
									<input id="newUser" class="inp-f" autocapitalize="off">
								</div>
							</div>

							<div class="basicrow m-top-i">
								<label class="label-f">&#42; Crear Nueva Contrase&ntilde;a</label>
								<div class="basicrow rel">
									<input id="newPassword" type="password" class="inp-f" autocapitalize="off">
								</div>
							</div>

							<div class="basicrow m-top-i">
								<label class="label-f">&#42; Repetir Nueva Contrase&ntilde;a</label>
								<div class="basicrow rel">
									<input id="repeatPassword" type="password" class="inp-f" autocapitalize="off">
								</div>
							</div>

							<div class="basicrow m-top-i">
								<div class="btns red vcenter rippleR">
									<div class="tabcell" id="btn-next">
										Guardar Cambios
									</div>
								</div>
							</div>

							<div class="basicrow m-top-i">
								<div class="logline full"></div>
							</div>

							<div class="basicrow text-center m-top-i">
								<a id="btn-login" class="linkdefs">Volver al inicio de sesi&oacute;n</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<% include footer %>

	</div>

</script>