<script type="text/template" id="locations">

    <div id="wrapper" class="appsize">

        <div class="allcont logsize">

            <% include header_help %>

            <div class="basicrow m-top">
                <div class="container">
                    <div class="basicrow">
                        <div class="fulltitle m-top-i f-btitle autodef">
                            <span><img src="images/map-icon.png" style="height: 50px; width: 50px; margin: 10px"></span>
                            &nbsp;Localidades
                        </div>
                    </div>
                </div>
            </div>

            <div class="basicrow m-top-i">

                <div class="acctypescont text-center">

                    <div id="tab-postpago" data-store-type="1" class="btn-store acctype <%= (activeStoreType==1)?'on':'' %>">
                        <div class="autocont full vcenter">
                            <div class="tabcell">
                                CACs
                            </div>
                        </div>
                    </div>

                    <div id="tab-prepago" data-store-type="2" class="btn-store acctype <%= (activeStoreType==2)?'on':'' %>">
                        <div class="autocont full vcenter">
                            <div class="tabcell">
                                Kioscos
                            </div>
                        </div>
                    </div>

                    <div id="tab-telephony" data-store-type="3" class="btn-store acctype <%= (activeStoreType==3)?'on':'' %>">
                        <div class="autocont full vcenter">
                            <div class="tabcell">
                                Tiendas
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <!--<div class="subtitle nbott din-b f-little text-center f-black vcenter">-->
                <!--<div class="tabcell">-->
                    <!--LOCALIDADES CERCANAS-->
                <!--</div>-->
            <!--</div>-->


            <div class="basicrow">
                <div class="container">
                    <div class="basicrow f-black roboto-r f-reg m-top-i m-bott">
                        <div class="basicrow f-mildt roboto-m">
                            Localidades Cercanas
                        </div>

                        <% _.each(stores, function(store, index) { %>

                        <div class="basicrow m-top btn-store-detail" data-store-id="<%=store.id%>">
                            <div class="preg-f" style="padding-right: 0">

                                <div class="rel">
                                    <img class="sectarrow" width="100%" src="images/arrow-iii.png">

                                    <div class="sect-full modrt f-reg f-bold f-black vcenter">
                                        <div class="tabcell">
                                            <span class="f-red"><%= store.name %></span><br/>
                                            <span class="f-dgray f-little">
                                                <%= store.address %><br/>
                                                <%= store.town %>
                                            </span>
                                        </div>
                                    </div>

                                    <% if(store.longitude != 0 && store.latitude != 0) { %>
                                    <div class="basicrow f-red din-b f-mini <%= (store.distance != 0)?'':'hidden' %>" style="margin-top:10px; width:auto;">
                                        <span class="pull-right"><%= parseFloat(store.distance).toFixed(2) %> mil</span>
                                    </div>
                                    <% } %>

                                </div>
                            </div>
                        </div>



                        <% }) %>

                        <div class="basicrow m-top" id="btn-locations">
                            <div class="preg-f">
                                Localidades

                                <img class="sectarrow" width="100%" src="images/arrow-iii.png">
                            </div>
                        </div>

                    </div>
                </div>
            </div>



            <div class="lineb" id="store-type-1" data-store-type="1">
                <% _.each(stores, function(store, index) { %>
                    <div class="sectbar hdef btn-store-detail" data-store-id="<%=store.id%>">
                        <div class="container rel">
                            <img class="sectarrow" width="100%" src="images/arrow-iii.png">

                            <div class="sect-full modrt f-reg f-bold f-black vcenter">
                                <div class="tabcell">
                                    <span class="f-red"><%= store.name %></span><br/>
                                    <span class="f-dgray f-little">
                                        <%= store.address %><br/>
                                        <%= store.town %>
                                    </span>
                                </div>
                            </div>

                            <% if(store.longitude != 0 && store.latitude != 0) { %>
                            <div class="basicrow f-red din-b f-mini <%= (store.distance != 0)?'':'hidden' %>" style="margin-top:10px; width:auto;">
                                <span class="pull-right"><%= parseFloat(store.distance).toFixed(2) %> mil</span>
                            </div>
                            <% } %>

                        </div>
                    </div>
                <% }) %>


            </div>
        </div>

    </div>

</script>