<script type="text/template" id="password_step_4">

	<div id="wrapper" class="appsize">
		<div class="allcont logsize">

			<div class="basicrow mbott">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-8 col-md-8 col-lg-4 col-lg-offset-4 col-md-offset-2 col-sm-offset-2 m-top-i">
							<div class="basicrow f-lsemi roboto-r text-center">
								<div class="basicrow">
									<img width="100%" class="mc-icon" src="images/reg-a-icon.png">
									&#191;Olvidaste tu contrase&ntilde;a&#63;
								</div>

								<div class="basicrow m-top-ii">
									<div class="logline"></div>
								</div>
							</div>

							<div class="basicrow f-reg f-black roboto-r m-top-i text-justify">
								Escoja d&oacute;nde deseas recibir la contrase&ntilde;a temporal. Puede elegir ambos.
							</div>

							<div class="basicrow f-reg f-black roboto-r">
								<div class="row">

									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"  <%= isTelefonia?'style="display: none"':'' %>>
										<div id="option-number" class="optchoice roboto-r text-left">
											<div class="checkdef">
												<input type="checkbox" name="radioG1" id="radioG1" class="css-radio"/><label for="radioG1" class="css-label3 radGroup1"></label>
											</div>

											<div class="basicrow opttext">
												N&uacute;mero Registrado<br/>
												<span class="roboto-b"><%=number%></span>
											</div>
										</div>
									</div>

									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div id="option-email" class="optchoice roboto-r text-left">
											<div class="checkdef">
												<input type="checkbox" name="radioG2" id="radioG2" class="css-radio"/><label for="radioG2" class="css-label3 radGroup1"></label>
											</div>

											<div class="basicrow opttext">
												Email Registrado<br/>
												<span class="roboto-b"><%=email%></span>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="basicrow m-top-i">
								<div id="btn-next" class="btns red vcenter rippleR">
									<span class="tabcell">
										Recuperar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
									</span>
								</div>
							</div>

							<div class="basicrow m-top-i">
								<div class="logline full"></div>
							</div>

							<div class="basicrow text-center m-top-i">
								<a id="btn-login" class="linkdefs">Volver al inicio de sesi&oacute;n&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<% include footer %>

	</div>

</script>