<script type="text/template" id="profile_update_questions">

	<div id="wrapper" class="appsize">

		<div class="allcont logsize">

			<% include header_help %>

			<div class="basicrow mbott-i">
				<div class="container">
					<div class="basicrow f-black roboto-r f-reg m-top-i text-center">
						<div class="basicrow m-bott-ii">
							<div class="basicrow f-black f-mildt roboto-m">
								Actualiza las Preguntas de Seguridad
							</div>

							<div class="basicrow m-top-ii text-justify">
								Por favor selecciona dos preguntas de seguridad. Esto nos ayudar&aacute; a verificar tu identidad en caso de que olvides tu contrase&ntilde;a.
							</div>

							<div class="basicrow m-top">
								<label class="label-f">
									&#42; Primera Pregunta de Seguridad
								</label>

								<select class="sel-f" id="questions_1">
									<option>&#191;Cu&aacute;l es la marca de tu primer carro&#63;</option>
								</select>
							</div>

							<div class="basicrow m-top-i">
								<label class="label-f">
									&#42; Respuesta Secreta
								</label>

								<input class="inp-f" id="answer_1">
							</div>

							<div class="basicrow m-top-i">
								<label class="label-f">
									&#42; Segunda Pregunta de Seguridad
								</label>

								<select class="sel-f" id="questions_2">
									<option>&#191;Cu&aacute;l es la marca de tu primer carro&#63;</option>
								</select>
							</div>

							<div class="basicrow m-top-i">
								<label class="label-f">
									&#42; Respuesta Secreta
								</label>

								<input class="inp-f" id="answer_2">
							</div>
						</div>

						<div class="basicrow m-top">
							<div class="logline full"></div>
						</div>

						<div class="basicrow text-center m-top">
							<div class="btns def-i red pull-right vcenter rippleR" id="save">
								<span class="tabcell">
									Continuar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
								</span>
							</div>
						</div>

					</div>

				</div>
			</div>

		</div>

		<% include footer %>

	</div>

</script>