<script type="text/template" id="refiere_step_2">

	<div id="wrapper" class="appsize">

		<div class="popupbg popup-terms" style="display: none">
			<div class="popupcont">
				<div class="basicrow f-black f-mildt roboto-m">
					T&eacute;rminos y Condiciones - Reglas de Redención
				</div>

				<div class="basicrow m-top">
					<div class="termgbg">
						<div class="termr-t" style="white-space: pre-line;">
							Programa de Referidos permitirá que cualquier cliente activo pueda referir nuevos clientes sin importar el tiempo que
							lleve como cliente en Claro. Se detallan las reglas de participación del programa según el producto que se detallan a
							continuación:


							I. Móvil “Update”

							1. No existirá límite de referidos.
							2. Para poder participar y disfrutar de los beneficios del programa, el cliente existente que refiere debe:
							•Estar suscrito a Mi Claro.
							•Estar suscrito a facturación electrónica.
							•Tener cuenta activa con balance al corriente.
							•Estar activo en una cuenta Móvil “Update” o financiamiento.
							•El cliente referido debe haber activado uno de los productos aplicables a la promoción.
							•Aceptar los términos y condiciones del programa.
							Cliente que refiere debe:

							1. Recibirá un cupón que al redimir le representará un descuento de $50.00 en la compra de un nuevo Smartphone a precio
							regular, si un amigo o particular que refirió al Programa activa una cuenta Móvil “Update”, o que al redimir
							representará como un descuento para el pago de su factura.
							2. Si el cliente existente que refiere NO tiene alguna suscripción en su cuenta equivalente al servicio que se suscribió
							el cliente referido, se le otorgará un cupón de $25.00 que al redimir representará como un descuento para el pago de su
							factura.
							3. El cliente que realiza el referido podrá acumular sus beneficios (hasta un máximo de 10 cupones de $50.00,
							equivalentes a $500.00, para la compra de un equipo.
							4. El beneficio de descuento aplica para equipos a precio regular, solo en las activaciones nuevas y renovaciones de
							clientes existentes.
							5. No se podrá utilizar el beneficio en combinación con otras promociones u ofertas de equipos.
							6. El cupón no será válido para saldos de equipos en “Update”. (El cliente debe saldar su equipo primero).
							7. El cupón no se utilizará como crédito o reembolso a cuenta en caso de cancelación.
							8. Los cupones no son transferibles.
							9. Una vez acepte redimir su cupón el mismo perderá su validez, este no podrá ser cancelado, reversado o reembolsado.
							10. Del cliente cancelar en o antes de los 7 días o realizar cambio de equipo, no se honrará el cupón redimido en la
							transacción inicial de la compra de equipo.
							11. El cliente existente que refiere podrá disfrutar su cupón a partir del octavo día de la fecha de activación del
							servicio móvil del cliente referido, o una vez se complete la instalación del servicio fijo del cliente prospecto.
							12. El monto de los cupones tiene que ser igual o menor al precio del equipo. Si es mayor, el cliente pierde la
							diferencia.

							Cliente referido debe:

							1. Activar un nuevo suscriptor en Móvil “Update” o uno de los productos aplicables del programa. Estos son: Móvil
							“Update”, Prepago, BYOP Credit Limit, Servicio de Internet y Televisión 2 Play y 3 Play con contrato de 24 meses.
							2. Suscribirse a Mi Claro.
							3. Suscribirse a facturación electrónica.
							4. Aceptar los términos y condiciones del programa.

							Tanto para el cliente que refiere o el que es referido:

							1. El beneficio de descuento a la cuenta se activará aun cuando el cliente tenga otros descuentos vigentes o activos en
							la cuenta. Ej.: Descuentos de retención y descuento en bono de portabilidad, entre otros.
							2. En el caso de usar el cupón para pago a su factura, solo podrá redimir un cupón. Este se reflejará al momento de ser
							redimido.
							Si el valor del cupón (descuento) redimido es mayor al balance pendiente de su factura, al redimir este descuento el
							cliente perderá la diferencia del valor restante.
							Si el valor de descuento redimido es menor al balance pendiente de su factura, el cliente es responsable de pago
							remanente de su factura en o antes de la fecha de vencimiento.
							3. Al momento de redimir su beneficio es importante que la cuenta NO esté suspendida o con atrasos. De estarlo, el
							cliente debe poner la cuenta al corriente para poder redimir su beneficio.
							4. El beneficio expira en un período de 12 meses.
							5. El cupón o descuento tendrá la fecha de expiración, tomando como inicio la fecha de envío del cupón.
							6. Cliente debe gestionar la redención de su cupón a través de Mi Claro. Claro no se hace responsable por cupones no
							redimidos por el cliente.


							II. Móvil BYOP/ “Credit Limit”

							1. No existirá límite de referidos.
							2. Para poder participar y disfrutar de los beneficios del programa, el cliente existente que refiere debe:
							•Estar suscrito a Mi Claro.
							•Estar suscrito a facturación electrónica.
							•Cuenta activa con balance al corriente.
							•Activo en una cuenta Móvil BYOP / CREDIT LIMIT.
							•El cliente referido debe haber activado uno de los productos aplicables a la promoción.
							•Aceptar los términos y condiciones del programa.

							El cliente que refiere:

							1. Recibirá un cupón que al redimir le representará un descuento de $25.00 en la compra de un nuevo Smartphone a precio
							regular, si un amigo o particular que refirió al Programa activa una cuenta BYOP/CREDIT LIMIT o que al redimir
							representará como un descuento para el pago de su factura.
							•Si el cliente existente que refiere NO tiene alguna suscripción en su cuenta equivalente al servicio que se suscribió
							el cliente referido, se le otorgará un cupón de $25.00 que al redimir representará como un descuento para el pago de su
							factura.
							•El cliente que realiza el referido podrá acumular sus beneficios (hasta un máximo de 4 cupones de $25.00, equivalentes
							a $100.00, para la compra de un equipo a precio regular.
							2. El beneficio de descuento aplica para equipos a precio regular, solo en las activaciones nuevas y renovaciones de
							clientes existentes.
							3. No se podrá utilizar el beneficio en combinación con otras promociones u ofertas de equipos.
							4. El cupón no se utilizará como crédito o reembolso a cuenta en caso de cancelación.
							5. Los cupones no son transferibles.
							6. Una vez acepte redimir su cupón el mismo perderá su validez, este no podrá ser cancelado, reversado o reembolsado.
							7. Del cliente cancelar en o antes de los 7 días o realizar cambio de equipo, no se honrará el cupón redimido en la
							transacción inicial de la compra de equipo.
							8. El cliente existente que refiere podrá disfrutar su cupón a partir del octavo día de la fecha de activación del
							servicio móvil del cliente referido, o una vez se complete la instalación del servicio fijo del cliente prospecto.
							9. El monto de los cupones tiene que ser igual o menor al precio del equipo. Si es mayor, el cliente pierde la
							diferencia.

							Cliente referido debe:

							1. Activar un nuevo suscriptor en “BYOP/Credit Limit” o uno de los productos aplicables del programa. Estos son: Móvil
							“Update”, Prepago, BYOP/Credit Limit”, Servicio de Internet y Televisión 2 Play y 3 Play con contrato de 24 meses.
							•Suscribirse a Mi Claro.
							•Suscribirse a facturación electrónica.
							•Aceptar los términos y condiciones del programa.
							2. El cliente referido solo tendrá un cupón para redimir como descuento a su cuenta.
							3. El beneficio de descuento a la cuenta se activará aun cuando el cliente tenga otros descuentos vigentes o activos en
							la cuenta. Ej.: Descuentos de retención y descuento en bono de portabilidad, entre otros.

							Tanto para el cliente que refiere o el que es referido:

							1. En el caso de usar el cupón para pago a su factura, solo podrá redimir un cupón. Este se reflejará al momento de ser
							redimido.
							•Si el valor del cupón (descuento) redimido es mayor al balance pendiente de su factura, al redimir este descuento el
							cliente perderá la diferencia del valor restante.
							•Si el valor de descuento redimido es menor al balance pendiente de su factura, el cliente es responsable de pago
							remanente de su factura en o antes de la fecha de vencimiento.
							2. Al momento de redimir su beneficio es importante que la cuenta NO esté suspendida o con atrasos. De estarlo, el
							cliente debe poner la cuenta al corriente para poder redimir su beneficio.
							1. El beneficio expira en un período de 12 meses.
							2. El cupón o descuento tendrá la fecha de expiración, tomando como inicio la fecha de envío del cupón.
							3. Cliente debe gestionar la redención de su cupón a través de Mi Claro. Claro no se hace responsable por cupones no
							redimidos por el cliente.


							III. Móvil Prepago

							1. No existirá límite de referidos.
							2. Cliente existente y cliente referido deben estar registrados en Mi Claro Prepago.
							3. Para poder participar y disfrutar de los beneficios del programa, el cliente existente que refiere debe:
							•Haber completado su activación de cuenta prepagada con los datos válidos del cliente.
							•Estar suscrito a plan Prepago de renta o a granel.
							•Tener cuenta activa. No puede estar en Plan 3000 y los clientes con data a granel no pueden tener su balance expirado.
							•Aceptar los términos y condiciones del programa.

							El cliente que refiere:

							1. El cliente que refiere recibirá un cupón que al redimir le representará un descuento de $25.00 para la compra de un
							nuevo Smartphone a precio regular, si un amigo o particular que refirió al Programa activa un prepago o que al redimir
							equivale a una recarga en su cuenta.
							•Si el cliente existente que refiere NO tiene alguna suscripción en su cuenta equivalente al servicio que se suscribió
							el cliente referido, se le otorgará un cupón de $25.00 que al redimir equivale a una recarga en su cuenta.
							2. El cliente que realiza el referido podrá acumular sus beneficios (cupones) hasta un máximo de 4 cupones de $25.00,
							equivalentes a $100.00 para la compra de un equipo a precio regular.
							3. En el caso que desee usar el beneficio para recarga de $25, se requiere que haya activado una cuenta pre pagada.
							3. No se podrá utilizar el beneficio en combinación con otras promociones u ofertas de equipos.
							4. El cupón no se utilizará como crédito o reembolso a cuenta en caso de cancelación.
							5. Los cupones no son transferibles.
							6. Una vez acepte redimir su cupón el mismo perderá su validez, este no podrá ser cancelado, reversado o reembolsado.
							7. Del cliente cancelar en o antes de los 7 días o cambio de equipo el cliente no se honrará el cupón redimido en la
							transacción de la compra de equipo inicial.
							8. El cliente existente que refiere podrá disfrutar su cupón a partir del octavo día de la fecha de activación del
							servicio móvil del cliente referido, o una vez se complete la instalación del servicio fijo del cliente prospecto.
							9. El monto de los cupones tiene que ser igual o menor al precio del equipo. Si es mayor, el cliente pierde la
							diferencia.

							Cliente referido debe:

							1. Activar un nuevo suscriptor en PREPAGO o uno de los productos del programa. Estos son: Móvil “Update”, “BYOP/Credit
							Limit”, Servicio de Internet y Televisión 2 Play y 3 Play con contrato de 24 meses.
							•Haber completado la activación de prepago con datos válidos.
							•Suscribirse a Mi Claro Prepago.
							•Aceptar los términos y condiciones del programa.
							2. El cliente referido solo tendrá un cupón para redimir como recarga a su cuenta.

							Tanto para el cliente que refiere o el que es referido:

							1. En el caso de usar el cupón para recarga a la cuenta, éste se reflejará al momento de ser redimido.
							•Si el valor del cupón (recarga) redimido es mayor al balance pendiente de su factura, al redimir este descuento el
							cliente perderá la diferencia del valor restante.
							•Si el valor del cupón (recarga) redimido es menor al balance pendiente de su recarga, el cliente es responsable de
							completar el pago remante equivalente a su plan al momento para poder completar su recarga.
							2. Al momento de redimir su beneficio es importante que la cuenta este activa, no puede estar en plan 3000.
							3. Clientes con Data a granel no pueden tener su balance expirado.
							4.De estarlo, el cliente debe realizar las recargas correspondientes para poder redimir su beneficio.
							5. El beneficio expira en un período de 12 meses.
							6. El cupón o descuento tendrá la fecha de expiración, tomando como inicio la fecha de envío del cupón.
							7. Cliente debe gestionar la redención de su cupón a través de Mi Claro. Claro no se hace responsable por cupones no
							redimidos por el cliente.


							IV. Servicio de Telefonía Fija – 2 Play / 3 Play

							1. No existirá límite de referidos.
							2. Para poder participar y disfrutar de los beneficios del programa, el cliente existente que refiere debe:
							•Estar suscrito a Fijo con plan de 2 Play o 3Play con contrato de 24 meses.
							•Estar registrado en Mi Claro.
							•Estar suscrito a facturación electrónica.
							•Aceptar los términos y condiciones del programa.

							El cliente que refiere:

							1. El cliente que refiere recibirá un cupón que al redimir le representará un descuento de 50% a la renta de su plan en
							la próxima factura luego que se complete la activación de un servicio móvil o la instalación de un servicio fijo del
							amigo o particular que refirió.
							2. El cliente existente que refiere podrá disfrutar su cupón a partir del octavo día de la fecha de activación del
							servicio móvil del cliente referido, o una vez se complete la instalación del servicio fijo del cliente prospecto.
							3. El cliente que refiere podrá acumular sus beneficios (cupones) de así desearlo para aplicarlos como descuentos al plan
							de su renta, a manera de un beneficio (cupón) por ciclo de facturación. El mismo se reflejará en su próximo cierre de
							ciclo.

							Los clientes referidos deberán:

							1. Activarse al servicio 2Play o 3Play con IPTV en contrato de 24 meses.
							2. Estar suscrito a Mi Claro.
							3. Estar suscrito a facturación electrónica.
							4. Cuenta activa con balance al corriente.
							5. Aceptar los términos y condiciones del programa.

							Tanto para el cliente que refiere o el que es referido:

							1. El beneficio (descuento) solo aplicará al 50% renta del plan.
							2. No aplica a cargos reglamentarios, cargos por franquicia, IVU, cargos por STB, canales Premium, canales de adultos y
							paquetes complementarios.
							3. El descuento aplicará aun cuando el cliente tenga otros descuentos vigentes o activos en la cuenta. Ej.: Descuentos de
							retención o en descuento bono de portabilidad, entre otros.
							4. El cliente tendrá 12 meses para redimir los descuentos acumulados a partir de la fecha de vigencia de los mismos.
							5. El cupón o descuento tendrá fecha de expiración, tomando como inicio la fecha de envío del mismo.
							Al momento de redimir su beneficio es importante que la cuenta NO esté suspendida o con atrasos. De estarlo, el cliente
							debe poner la cuenta al corriente para poder redimir su beneficio. Cliente debe gestionar la redención de su cupón a
							través de Mi Claro. Claro no se hace responsable por cupones no redimidos por el cliente.
						</div>
					</div>
				</div>

				<div class="basicrow text-center m-top-i lessm">
					<div id="close-terms" class="btns def-i red centr vcenter rippleR">
						<span class="tabcell">
							Cerrar&nbsp;&nbsp;<i class="fa fa-times" aria-hidden="true"></i>
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="popupbg popup-success" style="display: none">
			<div class="popupcont">
				<div class="basicrow text-center">
					<div class="rdtitles">
						Invitaciones enviadas <span class="roboto-b">exitosamente</span>
					</div>
				</div>

				<div class="basicrow f-reg f-black roboto-r m-top-i">
					Gracias por participar en el Programa de Referidos de Claro. Su invitaci&oacute;n fue enviada a sus contactos.
				</div>

				<div class="basicrow text-center m-top-i">
					<div id="ok-success" class="red btns savech centr vcenter rippleR">
						<span class="tabcell">
							Ok&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="stopfoot-i">

			<% include header %>

			<% include navmenu %>

			<div class="basicrow m-bott">
				<div class="refbgmdl">
					<div class="basicrow f-refdef">
						Refiere y Gana <img width="100%" src="images/refgiftimg.png">
					</div>

					<div class="basicrow f-med roboto-r m-top">
						<div class="row">
							<div class="col-xs-12 col-sm-8 col-md-8 col-lg-6 col-sm-offset-2 col-md-offset-2 col-lg-offset-3">
								Por cada amigo que refieras y se convierte en un cliente Claro ahora obtendr&aacute;s cr&eacute;ditos que podr&aacute;s usar para compras en Claro o pago de tus servicios.
							</div>
						</div>
					</div>

					<div class="basicrow m-top-i">
						<div class="row">
							<div class="col-xs-12 col-sm-10 col-md-10 col-lg-6 col-sm-offset-1 col-md-offset-1 col-lg-offset-3">
								<div class="basicrow rel">
									<input class="inp-f" type="email" id="email" style="margin-right: auto; margin-left: auto;">
								</div>
								<div class="basicrow rel">
									<input class="inp-f" type="text" value="" data-role="tagsinput" id="tags" style="background: transparent; border: none;">
								</div>
							</div>
						</div>
					</div>

					<div class="basicrow">
						<div id="btn-next" class="btns centr red refbtn vcenter rippleR">
							<div class="tabcell">
								Invitar a tus amigos
							</div>
						</div>
					</div>
				</div>

				<div class="basicrow">
					<div class="basicrow f-black f-big roboto-r text-center m-top-i">
						Otras maneras de compartir
					</div>

					<div class="basicrow m-top text-center">
						<div id="share-mail" class="refsocials mailng">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</div>

						<div id="share-face" class="refsocials fcbook">
							<i class="fa fa-facebook-square" aria-hidden="true"></i>
						</div>

						<div id="share-twitter" class="refsocials twtt">
							<i class="fa fa-twitter" aria-hidden="true"></i>
						</div>

						<div id="share-wp" class="refsocials whtsapp">
							<i class="fa fa-whatsapp" aria-hidden="true"></i>
						</div>
					</div>

					<div class="basicrow m-top text-center">
						<div class="container">
							<div class="reflinkdef">
								<span id="share-link" style="display: none">

								</span>

								<img id="copy" width="100%" src="images/reflink-copy.png">
							</div>
						</div>
					</div>

					<div class="basicrow roboto-r text-center m-top">
						<input id="checkbox-terms" type="checkbox" style="cursor: pointer;"> <a id="link-terms" class="linkdefs reftermlink">T&eacute;rminos y condiciones de la promoci&oacute;n <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
					</div>
				</div>

				<div class="basicrow bg-gray-i m-top-i ">
					<div class="basicrow">
						<div class="basicrow f-btitle f-black text-center">
							Cr&eacute;dito por Referidos
						</div>

						<div class="basicrow">
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
									<div class="row">
										<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 m-top-i">
											<div class="basicrow f-black roboto-b text-center">
													<span id="sumAvialable" class="f-lsemi f-blue">
														$0
													</span><br/><br/>

												<span class="f-bmed">
														Cr&eacute;ditos Disponibles
													</span>
											</div>
										</div>

										<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 m-top-i">
											<div class="basicrow f-black roboto-b text-center">
													<span id="totalCredits" class="f-lsemi f-red">
														0
													</span><br/><br/>

												<span class="f-bmed">
														Amigos Referidos
													</span>
											</div>
										</div>

										<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 m-top-i">
											<div class="basicrow f-black roboto-b text-center">
													<span id="totalRedeem" class="f-lsemi f-red">
														0
													</span><br/><br/>

												<span class="f-bmed">
														Amigos Convertidos
													</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="basicrow m-top-i m-bott">
					<div class="container">
						<div class="basicrow f-btitle f-black text-center">
							&#191;Tienes preguntas a&uacute;n&#63;
						</div>

						<div class="basicrow m-top-i">
							<div id="btn-faq" class="btns blue refredm centr vcenter rippleB">
								<div class="tabcell">
									FAQ&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>

</script>
