<script type="text/template" id="refiere_step_4">

	<div id="wrapper" class="appsize">
		<div class="stopfoot-i">

			<% include header %>

			<% include navmenu %>

			<div class=" basicrow">
				<div class=" basicrow">
					<div class="container">
						<div class="basicrow text-center m-top-i">
							<div class="rdtitles">
								<span class="roboto-b">Felicidades</span>
							</div>
						</div>

						<div class="basicrow m-top-i text-justify f-med f-black roboto-r">
							<span class="roboto-b">Bethzaida</span> te ha obsequiado créditos para que los uses en la compra de equipos &oacute; en descuentos de t&uacute; facturaci&oacute;n.
						</div>
					</div>
				</div>

				<div class="basicrow bg-gray-ii m-top">
					<div class="container">
						<div class="basicrow">
							<div class="row">
								<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
									<div class="credtype">
										<div class="credcardmock">
											<div class="crednumbdef">
												&#36;50
											</div>

											<img width="100%" src="images/clarocardmock.png">
										</div>

										<div class="basicrow f-reg f-black roboto-r text-justify m-top-i">
											<span class="roboto-b f-reg morelh">Claro Update Plus:</span><br/>

											&#36;50.00 de cr&eacute;dito en su primer mes de factura.
										</div>
									</div>
								</div>

								<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
									<div class="credtype">
										<div class="credcardmock">
											<div class="crednumbdef">
												&#36;25
											</div>

											<img width="100%" src="images/clarocardmock.png">
										</div>

										<div class="basicrow f-reg f-black roboto-r text-justify m-top-i">
											<span class="roboto-b f-reg morelh">Sin Contrato:</span><br/>

											&#36;25.00 de descuento para la compra de un nuevo Smartphone en Byop/Prepago.
										</div>
									</div>
								</div>

								<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
									<div class="credtype">
										<div class="credcardmock">
											<div class="crednumbdef">
												&#36;25
											</div>

											<img width="100%" src="images/clarocardmock.png">
										</div>

										<div class="basicrow f-reg f-black roboto-r text-justify m-top-i">
											<span class="roboto-b f-reg morelh">Prepago:</span><br/>

											&#36;25.00 de descuento en a la compra de equipo a precio regular o en incrementos de &#36;25.00 hasta un maximo de &#36;100.00 o credito a la cuenta para una recarga de &#36;25.00.
										</div>
									</div>
								</div>

								<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
									<div class="credtype">
										<div class="credcardmock">
											<div class="crednumbdef">
												50%
											</div>

											<img width="100%" src="images/clarocardmock.png">
										</div>

										<div class="basicrow f-reg f-black roboto-r text-justify m-top-i">
											<span class="roboto-b f-reg morelh">Servicio de Internet y Televisi&oacute;n:</span><br/>

											50% de descuento en un mes de renta.
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="basicrow">
					<div class="basicrow roboto-r text-center m-top-i">
						<a class="linkdefs reftermlink" href="#">T&eacute;rminos y condiciones de la promoci&oacute;n <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
					</div>
				</div>

				<div class="basicrow mbott">
					<div class="container">
						<div class="basicrow m-top-i lessm roboto-r text-center">
							<div class="shortcont">
								<div class="userinfo full">
									<div class="redstat">
										<div class="autorow roboto-r pull-left">
											Card #
										</div>

										<div class="autorow roboto-b pull-right">
											049200014248065
										</div>
									</div>

									<div class="redstat m-top-ii">
										<div class="autorow roboto-r pull-left">
											Program ID
										</div>

										<div class="autorow roboto-b pull-right">
											07900618360
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="basicrow m-top-i text-center">
							<img width="100%" class="refscanimg" src="images/scanimg.png">
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

</script>
