<script type="text/template" id="sidemenu">
    	<!-- [INIT SIDE MENU] -->
        
            <ul class="sidebar-nav">
                <li class="sidebar-brand text-center vcenter">
                	<span class="tabcell">
	                    <a href="#">
	                        <img src="images/logo-menu.png" width="100%" alt="">
	                    </a>
                    </span>
                </li>
                
                <li class="vcenter">
                	<span class="tabcell">
                    	<a class="btn-account">Mi Cuenta</a>
                    </span>
                </li>
                
                <li class="vcenter">
                	<span class="tabcell">
                    	<a class="btn-invoice">Facturas y Pagos</a>
                    </span>
                </li>
                
                <li class="vcenter">
                	<span class="tabcell">
                    	<a class="btn-consumption">Mi Consumo</a>
                    </span>
                </li>
                
                <li class="vcenter">
                	<span class="tabcell">
                    	<a class="btn-device">Mis Equipos</a>
                    </span>
                </li>
                
                <li class="vcenter">
                	<span class="tabcell">
                    	<a class="btn-service">Mi Servicios</a>
                    </span>
                </li>
                
                <li class="vcenter">
                	<span class="tabcell">
                    	<a class="btn-profile">Mi Perfil</a>
                    </span>
                </li>
                <!-- 
                <li class="vcenter">
                	<span class="tabcell">
                    	<a href="#">Comprar Planes</a>
                    </span>
                </li>
                 -->
                <li class="link-b vcenter">
                	<span class="tabcell">
                    	<a class="btn-chat">Chat</a>
                    </span>
                </li>
                <!--
                <li class="link-b vcenter">
                	<span class="tabcell">
                    	<a href="#">Tiendas</a>
                    </span>
                </li>                
                <li class="link-b vcenter">
                	<span class="tabcell">
                    	<a href="#">Contáctanos</a>
                    </span>
                </li>
                -->
                <li class="link-c vcenter">
                	<span class="tabcell">
                    	<a class="btn-logout" href="#">Cerrar</a>
                    </span>
                </li>
            </ul>
            
            <div class="foot-menu vcenter">
            	<div class="tabcell">
	            	<div class="foot-icon">
	            		<img src="images/claro-icon-menu.png" width="100%" alt="">
	            	</div>
            	</div>
            </div>
        
        <!-- [END SIDE MENU] -->
</script> 