<script type="text/template" id="splash">

    	<div data-role="header">
        	<div class="ui-grid-solo ui-bar-menu f-minimed biggerh">
            	<h1 class="ui-title avenir" role="heading">Descargar app</h1>
        	</div>
    	</div><!-- /header -->

		<div data-role="content">
                        
			<div data-role="main" class="page-content ui-content">

				<div class="clarologo-top">
					<img src="images/logo-top-i.png" width="100%" alt="">
				</div>
				
				<ul data-theme="a" data-inset="true" data-role="listview">
                    <li class="list-cont">
                    	<p class="f-big p-reset f-normal">
                    		Mi Claro tiene dos formas para<br/> disfrutar de tu experiencia m&oacute;vil
						</p>

						<% if(deviceAndroid) { %>
							<div class="exp-greenbtn">
								<a  href="#" data-role="button" data-theme="l" class="ui-btn-up-h f-big btn-android" data-ajax="false" target="_blank">
									Descargar Android App
								</a>
							</div>
						<% } %>

						<% if(deviceIos) { %>
							<div class="exp-greenbtn">
								<a  href="#" data-role="button" data-theme="g" class="ui-btn-up-h f-big btn-ios" data-ajax="false" target="_blank">
									Descargar IOS App
								</a>
							</div>
						<% } %>

						<button id="btn-mobile" class="ui-btn ui-btn-all" data-theme="k">
								<span class="f-big">Continuar al M&oacute;vil Web</span>
						</button>

						<div class="exp-separator"></div>

						<p class="f-big p-reset f-normal gray-txt">
                    		Visitar la versión Full Desktop del sitio en<br/><a href="http://miclaro.clarotodo.com">miclaro.clarotodo.com</a>
						</p>
                    </li>
                </ul>
			</div>
		</div>
</script>