<script type="text/template" id="tabs">

	<div class="basicrow" id="tabs-section">

		<div class="acctypescont text-center">

			<div id="tab-postpago" class="acctype  <%=selectedTab == 0?'on':'' %>">
				<div class="autocont full vcenter">
					<div class="tabcell">
						<img width="100%" src="images/postpaid-icon.png"> Pospago
					</div>
				</div>
			</div>

			<div id="tab-prepago" class="acctype <%=selectedTab == 1?'on':'' %>">
				<div class="autocont full vcenter">
					<div class="tabcell">
						<img width="100%" src="images/prepaid-icon.png"> Prepago
					</div>
				</div>
			</div>

			<div id="tab-telephony" class="acctype <%=selectedTab == 2?'on':'' %>">
				<div class="autocont full vcenter">
					<div class="tabcell">
						<img width="100%" src="images/fixedphone-icon.png"> Servicios Fijos
					</div>
				</div>
			</div>

		</div>

	</div>

</script>
