<script type="text/template" id="update_app">

	<!-- [INIT WRAP] -->
		<div id="wrapper">
			<div class="stopfoot-i">
				<div class="autobar no-bord f-reg f-black diffr">
					<div class="container">
						<div class="basicrow text-center">
							<img class="updateicon" width="100%" src="images/updatenowicon.png">
						</div>

						<div class="basicrow m-top-i f-bold text-center">
							Estimado cliente,
						</div>

						<div class="basicrow m-top text-justify">
							Mi Claro se ha actualizado y esta versi&oacute;n ya no se podr&aacute; utilizar.<br/><br/>
							Descarga la nueva versi&oacute;n y actualiza tu experiencia m&oacute;vil ahora mismo.
						</div>
					</div>
				</div>

				<div class="autobar no-bord diff update-app">
					<div class="container">
						<div class="r-btn text-center f-med f-white vcenter">
							<div class="tabcell">
								Actualizar App
							</div>
						</div>
					</div>
				</div>
			</div>

			<% include footer %>

		</div>
	<!-- [END WRAP] -->

</script>